.c-b-elements-list__item:last-child
  .c-e-specialist-full
    .c-e-specialist-full__body
      border-bottom: none

.c-b-elements-list__item
  .c-e-specialist-full
    .c-e-specialist-full__body
      border-bottom: 1px solid #eee

.c-e-specialist-full__body
  display: flex
  @media #{$_xs}
    display: block
  padding-bottom: 10px

.c-e-specialist-full__photo
  width: 25%
  height: auto
  margin-right: 30px
  @media #{$_xs}
    width: 100%
  img
    box-shadow: $z-depth-1
    border-radius: 2px
.c-e-specialist-full__no-photo
  background-color: $default-color
  border-radius: 2px
  box-shadow: $z-depth-1
  display: flex
  i
    margin: auto
    color: #fff
    font-size: 60px
    padding: 25px 0px
.c-e-specialist-full__description
  width: 75%
  @media #{$_xs}
    width: 100%
.c-e-specialist-full__name
  color: $default-color
  a
    text-decoration: none !important
.c-e-specialist-full__about
  color: #616161


body.black-on-white
  .c-e-specialist-full__no-photo
    background-color: #212121

body.white-on-black
  .c-e-specialist-full__no-photo
    background-color: #ffffff
    i
      color: #212121

body.blue-on-azure
  .c-e-specialist-full

body.brown-on-beige
  .c-e-specialist-full__no-photo
    background-color: $brown
    i
      color: $beige

body.green-on-brown
  .c-e-specialist-full__no-photo
    background-color: $green
    i
      color: $brown