mixin c-e-specialist-full()
  +b.DIV.c-e-specialist-full
      +e.body
        +e.photo
          a(href="")
            img(src="img/specialists/2.jpg")
        +e.description
          +e.name
            a(href="#") Катерина Брусникина
          +e.about Катя молодец
