.c-e-center
  transition: all .3s ease
  box-shadow: $z-depth-1
  border-radius: 2px
  width: 100%

.c-e-center a
  @extend .default-color-link
  text-decoration: none

.c-e-center:hover
  box-shadow: $z-depth-2

.c-e-center__body
  width: 100%
  height: 100%
  border-radius: 2px
  position: relative

.c-e-center__photo
  height: 200px
  background-size: cover
  background-position: center

.c-e-center__description
  padding: 25px 30px

.c-e-center__title
  color: $default-color
.c-e-center__address
  color: #616161
.c-e-center__phone
  color: #616161



.c-e-center.dark
  .c-e-center__body
    color: #fff
  .c-e-center__description
    color: #fff


.widget-default.default-color-light
.widget-default.default-color-light .widget-default__body
  background-color: transparentize($default-color, .9)
  box-shadow: $z-depth-1
  @extend .default-color-link
.widget-default.default-color-light .widget-default:hover
  box-shadow: $z-depth-2
  background-color: #fff


body.black-on-white
  .c-e-center
    border: 1px solid #212121
    background-color: #fff !important
    background-image: none !important
  .c-e-center__body
    color: #212121 !important
  .c-e-center__photo
    filter: grayscale(100%)
  .c-e-center__title,.c-e-center__description
    color: #212121 !important

body.white-on-black
  .c-e-center
    border: 1px solid #fff
    background-color: #212121 !important
    background-image: none !important
  .c-e-center__body
    color: #fff !important
  .c-e-center__photo
    filter: grayscale(100%)
  .c-e-center__title,.c-e-center__description
    color: #fff !important

body.blue-on-azure
  .c-e-center
    border: 1px solid $dark-blue
    background-color: $azure !important
    background-image: none !important
  .c-e-center__body
    color: $dark-blue !important
  .c-e-center__photo
    filter: grayscale(100%)
  .c-e-center__title,.c-e-center__description
    color: $dark-blue !important

body.brown-on-beige
  .c-e-center
    border: 1px solid $brown
    background-color: $beige !important
    background-image: none !important
  .c-e-center__body
    color: $brown !important
  .c-e-center__photo
    filter: grayscale(100%)
  .c-e-center__title,.c-e-center__description
    color: $brown !important

body.green-on-brown
  .c-e-center
    border: 1px solid $green
    background-color: $brown !important
    background-image: none !important
  .c-e-center__body
    color: $green !important
  .c-e-center__photo
    filter: grayscale(100%)
  .c-e-center__title,.c-e-center__description
    color: $green !important