mixin c-e-center(data)
  +b.DIV.c-e-center(class=data.class)
    a(href='#')
      +e.body
        +e.photo(style="background-image: url('https://www.newkaliningrad.ru/upload/medialibrary/919/9196d926628738c8a587d038713ba7ac.jpg')")
        +e.description
          +e.title= data.title
          +e.address= data.address
          +e.phone= data.phone