mixin a-b-visually()
  +b.a-b-visually
    
    a(class="a-b-visually__go" class="waves-effect waves-light btn-flat") Версия для слабовидящих
    
    a(class="a-b-visually__end" class="waves-effect waves-light btn-flat") Обычная версия
    
    a(
      class="a-b-visually__settings"
      class="waves-effect waves-light btn-flat"
      data-fancybox="visually-modal"
      data-src="#modal-visually-settings"
      href="javascript:;")
      i.fa.fa-cog

    +b.a-l-modal-default(style="display: none; max-width: 600px" id="modal-visually-settings")
      
      +e.header
        | Настройки отображения
      
      +b.a-b-visually-modal

        +e.set-img(class="mb15")
          h6 Изображения
          +e.set-img-switch
            div(class="switch")
              label Выкл
                input(type="checkbox" checked="checked")
                span(class="lever")
                |Вкл

        +e.set-font-size(class="mb15")
          h6 Размер шрифта
          a(class="waves-effect waves-light btn-flat active visually-size visually-size-x1 mr15")
            i(class="fas fa-font" style="font-size: 1em")
          a(class="waves-effect waves-light btn-flat visually-size visually-size-x2 mr15")
            i(class="fas fa-font" style="font-size: 1.5em")
          a(class="waves-effect waves-light btn-flat visually-size visually-size-x3")
            i(class="fas fa-font" style="font-size: 2em")
      
        +e.set-letter-spacing(class="mb15")
          h6 Интервал между буквами
          a(class="waves-effect waves-light btn-flat active visually-spacing visually-spacing-1 mr15") Стандартный
          a(class="waves-effect waves-light btn-flat visually-spacing visually-spacing-2 mr15") Средний
          a(class="waves-effect waves-light btn-flat visually-spacing visually-spacing-3") Большой
      
        +e.set-color-schema(class="mb15")
          h6 Цветовая схема
          a(class="waves-effect waves-light btn-flat visually-black-on-white mb15 mr15") Черным по белому
          a(class="waves-effect waves-light btn-flat visually-white-on-black mb15 mr15") Белым по черному
          a(class="waves-effect waves-light btn-flat visually-blue-on-azure mb15 mr15") Темно-синим по голубому
          a(class="waves-effect waves-light btn-flat visually-brown-on-beige mb15 mr15") Коричневым по бежевому
          a(class="waves-effect waves-light btn-flat visually-green-on-brown") Зеленым по темно-коричневому
        