.a-b-visually
  display: inline-block


.a-b-visually__go, .a-b-visually__end, .a-b-visually__settings
  color: #fff
  background-color: #212121
  &:focus
    background-color: #212121

.a-b-visually__end, .a-b-visually__settings
  display: none

.a-b-visually__settings
  color: #fff
  margin-left: 15px

  
.a-b-visually-modal .btn-flat
  color: #212121
  border: 1px solid #616161

.a-b-visually-modal .btn-flat.active
  color: #fff
  background-color: #212121


.visually-spacing-2
  letter-spacing: 2px
.visually-spacing-3
  letter-spacing: 4px
 
.a-b-visually-modal .btn-flat.visually-black-on-white
  color: #212121 !important
  background-color: #fff !important
  border: 1px solid #212121

.a-b-visually-modal .btn-flat.visually-white-on-black
  color: #fff !important
  background-color: #212121
  border: none !important

.a-b-visually-modal .btn-flat.visually-blue-on-azure
  color: $blue !important
  background-color: $azure !important
  border: 1px solid $blue !important

.a-b-visually-modal .btn-flat.visually-brown-on-beige
  color: $brown !important
  background-color: $beige !important
  border: 1px solid $brown !important

.a-b-visually-modal .btn-flat.visually-green-on-brown
  color: $green !important
  background-color: $brown !important
  border: 1px solid $green !important
  

body.white-on-black
  .a-b-visually-modal .btn-flat
    color: #fff
    border: 1px solid #fff

  .a-b-visually-modal .btn-flat.active
    color: #212121
    background-color: #fff

body.blue-on-azure
  .a-b-visually-modal .btn-flat
    color: $dark-blue
    border: 1px solid $dark-blue

  .a-b-visually-modal .btn-flat.active
    color: $azure
    background-color: $dark-blue

body.brown-on-beige
  .a-b-visually-modal .btn-flat
    color: $brown
    border: 1px solid $brown

  .a-b-visually-modal .btn-flat.active
    color: $azure
    background-color: $brown

body.green-on-brown
  .a-b-visually-modal .btn-flat
    color: $green
    border: 1px solid $green

  .a-b-visually-modal .btn-flat.active
    color: $brown
    background-color: $green