mixin a-b-pagination()
  +b.a-b-pagination(class="mt15")
    ul(class="pagination")
      li(class="disabled")
        a(href="#")
          i(class="material-icons") chevron_left
      
      li(class="active")
        a(href="#!") 1
      li(class="waves-effect")
        a(href="#!") 2
      li(class="waves-effect")
        a(href="#!") 3
      li(class="waves-effect")
        a(href="#!") ...
      li(class="waves-effect")
        a(href="#!") 5
      
      li(class="waves-effect")
        a(href="#!")
          i(class="material-icons") chevron_right