.a-b-pagination
  text-align: center
  ul.pagination
    font-size: 0px
    li.active
      background-color: $default-color
      a
        &:hover
          color: #fff
    li
      a
        letter-spacing: 0
        text-decoration: none
        &:hover
          color: $default-color
    li:last-child a
      padding: 0px
    li:first-child a
      padding: 0px

body.black-on-white
  .a-b-pagination
    ul.pagination
      li.active
        background-color: #212121 !important
        a
          color: #fff
          &:hover
            color: #fff

body.white-on-black
  .a-b-pagination
    ul.pagination
      li.active
        background-color: #fff !important
        a
          color: #212121
          &:hover
            color: #212121

body.blue-on-azure
  .a-b-pagination
    ul.pagination
      li.active
        background-color: $dark-blue !important
        a
          color: $azure
          &:hover
            color: $azure

body.brown-on-beige
  .a-b-pagination
    ul.pagination
      li.active
        background-color: $brown !important
        a
          color: $beige
          &:hover
            color: $beige

body.green-on-brown
  .a-b-pagination
    ul.pagination
      li.active
        background-color: $green !important
        a
          color: $brown
          &:hover
            color: $brown