.a-b-footer-menu
	background-color: #fff
	flex-basis: 100%
	box-shadow: $z-depth-1
	padding: 25px 15px
	border-radius: 2px
.a-b-footer-menu__top
	flex-basis: 100%
	margin-bottom: 10px
	padding: 0px 15px
.a-b-footer-menu__logo
	padding-bottom: 15px
	border-bottom: 1px solid #eee
.a-b-footer-menu__body
	+row()
	padding-top: 5px
	padding-bottom: 10px
	justify-content: flex-start
.a-b-footer-menu__contact
	a
		@extend .default-color-link
.a-b-footer-menu__footer
	padding: 0px 15px
.a-b-footer-menu__copy
	flex-basis: 100%
	padding-top: 12px
	border-top: 1px solid #eee
	font-size: .8em
	color: #616161

.page-wrap.nw .a-b-footer-menu__contacts-wrap
	flex-basis: 33.3333%
	padding: 0px 15px
	@media #{$_md}
		flex-basis: 50%
		margin-bottom: 15px
	@media #{$_xs}
		flex-basis: 100%
.page-wrap.fw .a-b-footer-menu__contacts-wrap
	flex-basis: 25%
	padding: 0px 15px
	@media #{$_md}
		flex-basis: 50%
		margin-bottom: 15px
	@media #{$_xs}
		flex-basis: 100%
.page-wrap .a-b-footer-menu__contacts-wrap:last-child
	padding-right: 0px

body.black-on-white
	.a-b-footer-menu__body .default-color-link
		color: #212121
		text-decoration: underline
	.a-b-footer-menu__copy
		color: #212121

body.white-on-black
	.a-b-footer-menu
		background-color: #212121
		color: #fff
	.a-b-footer-menu__body .default-color-link
		color: #fff
		text-decoration: underline
	.a-b-footer-menu__copy
		color: #fff

body.blue-on-azure
	.a-b-footer-menu
		background-color: $azure
		color: $dark-blue
	.a-b-footer-menu__body .default-color-link
		color: $dark-blue
		text-decoration: underline
	.a-b-footer-menu__copy
		color: $dark-blue

body.brown-on-beige
	.a-b-footer-menu
		background-color: $beige
		color: $brown
	.a-b-footer-menu__body .default-color-link
		color: $brown
		text-decoration: underline
	.a-b-footer-menu__logo
		border-bottom: 1px solid $brown
	.a-b-footer-menu__copy
		color: $brown
		border-top: 1px solid $brown

body.green-on-brown
	.a-b-footer-menu
		background-color: $brown
		color: $green
	.a-b-footer-menu__body .default-color-link
		color: $green
		text-decoration: underline
	.a-b-footer-menu__copy
		color: $green

.ap-simple-nav a
	@extend .default-color-link