mixin a-b-footer-menu()
  +b.a-b-footer-menu
    +e.top
      +e.logo
        a(href="#")
          +a-b-logo-min()
    +e.body
      +e.contacts-wrap
        +b.ap-simple-nav.block
          +e.UL.list
            +e.LI.item Email: 
              a(href="#") uzao@gov39.ru
            +e.LI.item Телефон: 
              a(href="#") +7 (4012) 599-440
            +e.LI.item
              a.default-color-link(href="#") 236000, г.Калининград. ул. Дм. Донского 1 
            +e.LI.item Email администрации портала: 
              a.default-color-link(href="mailto: site@infomed39.ru") site@infomed39.ru
      +e.contacts-wrap
        +b.ap-simple-nav.block
          +e.UL.list
            +e.LI.item Телефоны справочной службы
            +e.LI.item
              a.default-color-link(href="#") +7 495 628-44-53
            +e.LI.item
              a.default-color-link(href="#") +7 495 627-29-44
            +e.LI.item
              a(data-fancybox data-src="#modal" href="javascript:;" class="default-color-link") Авторизация
              +a-l-modal-default()
      +e.contacts-wrap
        +b.ap-simple-nav.block
          +e.UL.list
            +e.LI.item Информация
            +e.LI.item
              a.default-color-link(href="#") Контакты
            +e.LI.item
              a.default-color-link(href="#") Режим работы
    +e.footer
      +e.copy Медицинский информационно-аналитический центр Калининградской области © 2017