.c-b-tabs
.c-b-tabs__tabs
  border-bottom: 1px solid #eee
.c-b-tabs__tabs .tabs
  white-space: normal
  display: inherit
  height: auto
.c-b-tabs__tabs .tabs .tab a
  @extend .default-color-link
  text-transform: none !important
  text-decoration: none !important
.c-b-tabs__tabs .tabs .tab a.active
  background-color: $default-color
  color: #fff
.c-b-tabs .tabs .indicator
  display: none

body.black-on-white
  .c-b-tabs__tabs .tabs .tab a.active
    background-color: #212121
    color: #fff

body.white-on-black
  .c-b-tabs__tabs .tabs .tab a.active
    background-color: #fff
    color: #212121
  .c-b-tabs__tabs .tabs
    background-color: #212121

body.blue-on-azure
  .c-b-tabs__tabs .tabs .tab a.active
    background-color: $blue
    color: $azure
  .c-b-tabs__tabs .tabs
    background-color: $azure

body.brown-on-beige
  .c-b-tabs__tabs .tabs .tab a.active
    background-color: $brown
    color: $beige
  .c-b-tabs__tabs .tabs
    background-color: $beige

body.green-on-brown
  .c-b-tabs__tabs .tabs .tab a.active
    background-color: $green
    color: $brown
  .c-b-tabs__tabs .tabs
    background-color: $brown