mixin c-b-tabs()
  +b.c-b-tabs.mb30
    +e.tabs
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#test1">Консультации</a></li>
        <li class="tab col s3"><a href="#test2">Диагностика</a></li>
        <li class="tab col s3"><a href="#test3">Лечение</a></li>
        <li class="tab col s3"><a href="#test4">Другое</a></li>
      </ul>
    +e.content(id="test1" class="col s12")
      +b.TABLE
        thead
          tr
            th Услуги
            th Цены
        tbody
          tr
            td
              a(href="#") Наращивание ресниц
            td 1700р.
          tr
            td
              a(href="#") Наращивание ресниц
            td 1700р.
          tr
            td
              a(href="#") Наращивание ресниц
            td 1700р.
          tr
            td
              a(href="#") Наращивание ресниц
            td 1700р.
          tr
            td
              a(href="#") Наращивание ресниц
            td 1700р.
    +e.content(id="test2" class="col s12")
      +b.TABLE
        thead
          tr
            th Услуги
            th Цены
        tbody
          tr
            td
              a(href="#") Маникюр
            td 1700р.
          tr
            td
              a(href="#") Маникюр
            td 1700р.
          tr
            td
              a(href="#") Маникюр
            td 1700р.
          tr
            td
              a(href="#") Маникюр
            td 1700р.
          tr
            td
              a(href="#") Маникюр
            td 1700р.
    +e.content(id="test3" class="col s12")
      +b.TABLE
        thead
          tr
            th Услуги
            th Цены
        tbody
          tr
            td
              a(href="#") Массаж
            td 1700р.
          tr
            td
              a(href="#") Массаж
            td 1700р.
          tr
            td
              a(href="#") Массаж
            td 1700р.
          tr
            td
              a(href="#") Массаж
            td 1700р.
          tr
            td
              a(href="#") Массаж
            td 1700р.
    +e.content(id="test4" class="col s12")
      +b.TABLE
        thead
          tr
            th Услуги
            th Цены
        tbody
          tr
            td
              a(href="#") Массаж
            td 1700р.
          tr
            td
              a(href="#") Педикюр
            td 1700р.
          tr
            td
              a(href="#") Педикюр
            td 1700р.
          tr
            td
              a(href="#") Педикюр
            td 1700р.
          tr
            td
              a(href="#") Педикюр
            td 1700р.