.a-l-preloader
  position: fixed
  top: 0px
  right: 0px
  bottom: 0px
  left: 0px
  background-color: #fff
  z-index: 200
  display: flex
.a-l-preloader__spinner
  margin: auto
.a-l-preloader__spinner .spinner-layer
	border-color: $default-color
