mixin a-l-preloader()
  +b.a-l-preloader
    +e.spinner
      div(class="preloader-wrapper big active")
        div(class="spinner-layer")
          div(class="circle-clipper left")
            div(class="circle")
          div(class="gap-patch")
            div(class="circle")
          div(class="circle-clipper right")
            div(class="circle")