.c-l-main
  padding-top: 30px
  margin: 0px auto

.page-wrap.fw .c-l-main
  +row()
  padding-left: 15px
  padding-right: 15px
.page-wrap.fw .c-l-main__sb-l-wrap
  +col(3)
  @media #{$_md}
    display: none

.page-wrap.fw .c-l-main__wa-wrap.nw
  +col(6)
  @media #{$_md}
    +col(8)
  @media #{$_sm}
    +col(12)
.page-wrap.fw .c-l-main__wa-wrap.fw
  +col(9)
  @media #{$_md}
    +col(12)

.page-wrap.fw .c-l-main__sb-r-wrap
  +col(3)
  @media #{$_md}
    +col(4)
  @media #{$_sm}
    +col(12)

.page-wrap.nw .c-l-main
  +container()
  padding-top: 30px
.page-wrap.nw .c-l-main__sb-l-wrap
  display: none

.page-wrap.nw .c-l-main__wa-wrap.nw
  +col(8)
  @media #{$_md}
    +col(12)
.page-wrap.nw .c-l-main__sb-r-wrap
  +col(4)
  @media #{$_md}
    +col(12)
.page-wrap.nw .c-l-main__wa-wrap.fw
  +col(12)