mixin c-l-main()
  +b.c-l-main
    +e.sb-l-wrap
      +sb-el-nav()
    +e.wa-wrap 
      +el-work-area()
    +e.sb-r-wrap
      +sb-el-nav()
      +sb-el-widgets-list({
        items: [
          {
            type: "widget-default",
            title: 'Календарь сдачи отчетов',
            class: 'white icon waves-effect waves-default-color',
            icon: 'fa-calendar'
          },			
          {
            type: "widget-default",
            title: 'Министерство зравоохраниения Калининградской области',
            class: 'blue darken-4 dark icon waves-effect waves-light',
            img: "img/logo-kalmed.png"
          },
          {
            type: "widget-default",
            title: 'Вызвать скорую',
            class: 'deep-orange darken-3 dark icon waves-effect waves-light',
            icon: 'fa-ambulance'
          }
        ]
      })