mixin c-b-calendar
  +b.c-b-calendar
    +e.controls
      +b.form-group
        select
          option(value="" disabled selected) Месяц
          option(value="1") Январь
          option(value="2") Февраль
          option(value="3") Март
          option(value="3") Апрель
          option(value="3") Май
          option(value="3") Июнь
          option(value="3") Июль
          option(value="3") Август
          option(value="3") Сентябрь
          option(value="3") Октябрь
          option(value="3") Ноябрь
          option(value="3") Декабрь
        label Месяц
      +b.form-group
        select
          option(value="" disabled selected) Год
          option(value="1") 1991
          option(value="2") 1992
          option(value="3") 1993
        label Год
      //- .a-b-pagination(class="mt15 mb15")
      //-   ul.pagination
      //-     li(class="waves-effect")
      //-       a(href="#")
      //-         i(class="material-icons") chevron_left
      //-     li(class="disabled")
      //-       a(href="#!") Июль 2018
      //-     li(class="waves-effect")
      //-       a(href="#!")
      //-         i(class="material-icons") chevron_right

    +e.wrapper
    
      +e.body
        +e.head
          +e.day-title Понедельник
          +e.day-title Вторник
          +e.day-title Среда
          +e.day-title Четверг
          +e.day-title Пятница
          +e.day-title Суббота
          +e.day-title Воскресенье
        
        +e.row
          +b.c-b-calebdar-day
            +e.date.ua 27
            +e.description 
          +b.c-b-calebdar-day
            +e.date.ua 28
            +e.description 
          +b.c-b-calebdar-day
            +e.date.ua 29
            +e.description 
          +b.c-b-calebdar-day
            +e.date.ua 30
            +e.description 
          +b.c-b-calebdar-day
            +e.date 1
            +e.description 
          +b.c-b-calebdar-day.c-b-calebdar-day__event.c-b-calebdar-day__blue(data-fancybox="day-event" data-src="#modal-day-event-2")
            +e.date 2     
            +e.description Легкое описание, на всякий случай
            +b.a-l-modal-default(style="display: none; min-width: 420px" id="modal-day-event-2")
              +e.header
                i.fa.fa-sign-in
                | 2 июля 2018 Сб
              +e.body
                +b.TABLE
                  caption Название таблицы
                  thead
                    tr
                      th Название
                  tbody
                    tr
                      td
                        a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
                    tr
                      td
                        a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
                    tr
                      td
                        a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
          +b.c-b-calebdar-day
            +e.date 3
            +e.description
        +e.row
          +b.c-b-calebdar-day
            +e.date 4
            +e.description 
          +b.c-b-calebdar-day
            +e.date 5
            +e.description 
          +b.c-b-calebdar-day.c-b-calebdar-day__event.c-b-calebdar-day__red(data-fancybox="day-event" data-src="#modal-day-event-6")
            +e.date 6     
            +e.description Легкое описание, на всякий случай
            +b.a-l-modal-default(style="display: none; min-width: 420px" id="modal-day-event-6")
              +e.header
                i.fa.fa-sign-in
                | 6 июля 2018 Ср
              +e.body
                +b.TABLE
                  caption Название таблицы
                  thead
                    tr
                      th Название
                  tbody
                    tr
                      td
                        a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
                    tr
                      td
                        a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
                    tr
                      td
                        a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
          +b.c-b-calebdar-day
            +e.date 7
            +e.description 
          +b.c-b-calebdar-day
            +e.date 8
            +e.description 
          +b.c-b-calebdar-day
            +e.date 9     
            +e.description
          +b.c-b-calebdar-day
            +e.date 10
            +e.description 
        +e.row
          +b.c-b-calebdar-day
            +e.date 11
            +e.description 
          +b.c-b-calebdar-day
            +e.date 12
            +e.description 
          +b.c-b-calebdar-day
            +e.date 13
            +e.description 
          +b.c-b-calebdar-day
            +e.date 14
            +e.description 
          +b.c-b-calebdar-day
            +e.date 15
            +e.description 
          +b.c-b-calebdar-day.c-b-calebdar-day__event.c-b-calebdar-day__orange(data-fancybox="day-event" data-src="#modal-day-event-16")
            +e.date 16     
            +e.description
            +b.a-l-modal-default(style="display: none; min-width: 420px" id="modal-day-event-16")
              +e.header
                i.fa.fa-sign-in
                | 16 июля 2018 Сб!
              +e.body
                +b.TABLE
                  caption Название календаря
                  thead
                    tr
                      th Событие
                  tbody
                    tr
                      td
                        a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
                    tr
                      td
                        a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
                    tr
                      td
                        a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
          +b.c-b-calebdar-day
            +e.date 17
            +e.description
        +e.row
          +b.c-b-calebdar-day
            +e.date 18
            +e.description 
          +b.c-b-calebdar-day
            +e.date 19
            +e.description 
          +b.c-b-calebdar-day
            +e.date 20
            +e.description 
          +b.c-b-calebdar-day
            +e.date 21
            +e.description 
          +b.c-b-calebdar-day
            +e.date 22
            +e.description 
          +b.c-b-calebdar-day.c-b-calebdar-day__event.c-b-calebdar-day__green(data-fancybox="day-event" data-src="#modal-day-event-23")
            +e.date 23     
            +e.description Легкое описание, на всякий случай
            +b.a-l-modal-default(style="display: none; min-width: 420px" id="modal-day-event-23")
              +e.header
                i.fa.fa-sign-in
                | 23 июля 2018 Сб
              +e.body
                +b.TABLE
                  caption Название таблицы
                  thead
                    tr
                      th Название
                  tbody
                    tr
                      td
                        a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
                    tr
                      td
                        a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
                    tr
                      td
                        a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
          +b.c-b-calebdar-day
            +e.date 24
            +e.description
        +e.row
          +b.c-b-calebdar-day
            +e.date 25
            +e.description 
          +b.c-b-calebdar-day
            +e.date 26
            +e.description 
          +b.c-b-calebdar-day
            +e.date 27
            +e.description 
          +b.c-b-calebdar-day.c-b-calebdar-day__event.c-b-calebdar-day__orange(data-fancybox="day-event" data-src="#modal-day-event-28")
            +e.date 28     
            +e.description Легкое описание, на всякий случай
            +b.a-l-modal-default(style="display: none; min-width: 420px" id="modal-day-event-28")
              +e.header
                i.fa.fa-sign-in
                | 28 июля 2018 Чт
              +e.body
                +b.TABLE
                  caption Название таблицы
                  thead
                    tr
                      th Название
                  tbody
                    tr
                      td
                        a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
                    tr
                      td
                        a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
                    tr
                      td
                        a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
          +b.c-b-calebdar-day
            +e.date 29
            +e.description 
          +b.c-b-calebdar-day.c-b-calebdar-day__event.c-b-calebdar-day__purple(data-fancybox="day-event" data-src="#modal-day-event-30")
            +e.date 30     
            +e.description Легкое описание, на всякий случай
            +b.a-l-modal-default(style="display: none; min-width: 420px" id="modal-day-event-30")
              +e.header
                i.fa.fa-sign-in
                | 30 июля 2018 Сб
              +e.body
                +b.TABLE
                  caption Название таблицы
                  thead
                    tr
                      th Название
                  tbody
                    tr
                      td
                        a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
                    tr
                      td
                        a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
                    tr
                      td
                        a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
          +b.c-b-calebdar-day
            +e.date 31
            +e.description 
        
        
        
        
        