.c-b-calendar
  overflow-x: scroll

.c-b-calendar__controls
  text-align: center
  .form-group
    display: inline-block

.c-b-calendar__wrapper
  min-width: 660px
    
.c-b-calendar__head
  +row()
  border-bottom: 2px solid #fff

.c-b-calendar__day-title
  +calendar_col(1)
  padding-left: 10px
  line-height: 40px
  border-right: 2px solid #fff
  background-color: transparentize($default-color, .7)
  color: $default-color

.c-b-calendar__body

.c-b-calendar__row
  border-bottom: 2px solid #fff
  +row()

.c-b-calebdar-day
  +calendar_col(1)
  background-color: transparentize($default-color, .9)
  border-right: 2px solid #fff
  min-eight: 84px

.c-b-calebdar-day__event
  cursor: pointer

.c-b-calebdar-day__date
  padding: 10px

.c-b-calebdar-day__description
  font-size: 12px
  padding: 10px

.c-b-calebdar-day__date.ua
  color: $gray



.c-b-calebdar-day__blue
  background-color: $default-color
  color: #fff
.c-b-calebdar-day__red
  background-color: #F44336
  color: #fff
.c-b-calebdar-day__green
  background-color: #4CAF50
  color: #fff
.c-b-calebdar-day__purple
  background-color: #673AB7
  color: #fff
.c-b-calebdar-day__orange
  background-color: #FF9800
  color: #fff


  
  // &.blue-event
  //   border-top: 4px solid $blue
  //   &:hover
  //     background-color: $blue
  // &.red-event
  //   border-top: 4px solid #ff5722
  //   &:hover
  //     background-color: #ff5722
  // &.brown-event
  //   border-top: 4px solid #795548
  //   &:hover
  //     background-color: #795548
  // &.yellow-event
  //   border-top: 4px solid #f9a825
  //   &:hover
  //     background-color: #f9a825
  // &.green-event
  //   border-top: 4px solid #4caf50
  //   &:hover
  //     background-color: #4caf50
  // &__title
  //   overflow: hidden
  //   text-overflow: ellipsis
  //   font-size: 13px
  // &:hover
  //   color: #ffffff
  //   &__title
  //     height: auto