mixin a-b-simple-nav(data)
  +b.DIV.a-b-simple-nav(class = data.class)
    +e.UL.list
      li.a-b-simple-nav__item
        a(href="#").default-color-link Контакты
      li.a-b-simple-nav__item
        a(href="#").default-color-link Режим работы