.a-b-simple-nav
  display: inline-block

.a-b-simple-nav__list
  margin: 0px

.a-b-simple-nav__item
  display: inline-block
  margin-right: 10px
  line-height: 36px
  &:last-child
    margin-right: 0px
  a
 
.a-b-simple-nav.block .a-b-simple-nav__item
  display: block
  line-height: 24px
  margin-right: 0px

body.black-on-white
  .a-b-simple-nav__item a
    color: #212121
    text-decoration: underline

body.white-on-black
  .a-b-simple-nav__item a
    color: #fff
    text-decoration: underline

body.blue-on-azure
  .a-b-simple-nav__item a
    color: $dark-blue
    text-decoration: underline

body.brown-on-beige
  .a-b-simple-nav__item a
    color: $brown
    text-decoration: underline

body.green-on-brown
  .a-b-simple-nav__item a
    color: $green
    text-decoration: underline
