mixin a-l-footer()
	+b.FOOTER.a-l-footer
		+e.wrap
			+e.subscription
				+a-b-subscription()
			+e.yamap
				+b.yamap(style="background-image: url('img/map.jpg'); background-size: cover; background-position: center")
			+a-b-footer-menu()

