.a-l-footer
	padding-bottom: 50px

.yamap
	min-height: 250px
	box-shadow: $z-depth-1
	border-radius: 2px

.page-wrap.nw .a-l-footer__wrap
	+container()
.page-wrap.nw .a-l-footer__subscription
	+col(4)
	margin-bottom: 30px
	@media #{$_md}
		+col(6)
	@media #{$_xs}
		+col(12)
.page-wrap.nw .a-l-footer__yamap
	+col(8)
	margin-bottom: 30px
	@media #{$_md}
		+col(6)
	@media #{$_xs}
		+col(12)

.page-wrap.fw .a-l-footer__wrap
	+row()
	padding-left: 15px
	padding-right: 15px
.page-wrap.fw .a-l-footer__subscription
	+col(3)
	margin-bottom: 30px
	@media #{$_md}
		+col(6)
	@media #{$_xs}
		+col(12)
.page-wrap.fw .a-l-footer__yamap
	+col(9)
	margin-bottom: 30px
	@media #{$_md}
		+col(6)
	@media #{$_xs}
		+col(12)