include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include ../../components/app-blocks/breadcrumbs/breadcrumbs
include ../../components/app-blocks/date-day/date-day
include ../../components/app-blocks/footer-menu/footer-menu
include ../../components/app-blocks/global-search/global-search
include ../../components/app-blocks/head/head
include ../../components/app-blocks/logo-main/logo-main
include ../../components/app-blocks/logo-min/logo-min
include ../../components/app-blocks/main-nav/main-nav
include ../../components/app-blocks/mobile-nav/mobile-nav
include ../../components/app-blocks/pagination/pagination
include ../../components/app-blocks/phone-main/phone-main
include ../../components/app-blocks/sb-main-nav/sb-main-nav
include ../../components/app-blocks/sb-section-nav/sb-section-nav
include ../../components/app-blocks/search/search
include ../../components/app-blocks/simple-nav/simple-nav
include ../../components/app-blocks/subscription/subscription
include ../../components/app-blocks/visually/visually

include ../../components/app-layouts/footer/footer
include ../../components/app-layouts/logo-phone/logo-phone
include ../../components/app-layouts/logo-search/logo-search
include ../../components/app-layouts/modal-default/modal-default
include ../../components/app-layouts/preloader/preloader
include ../../components/app-layouts/search-menu-button/search-menu-button

include ../../components/content-blocks/elements-list/elements-list
include ../../components/content-blocks/elements-slider/elements-slider
include ../../components/content-blocks/news-list/news-list
include ../../components/content-blocks/services-list/services-list
include ../../components/content-blocks/slider/slider
include ../../components/content-blocks/slider/slides/slide-photo-description
include ../../components/content-blocks/slider/slides/slide-photo
include ../../components/content-blocks/table-alt/table-alt
include ../../components/content-blocks/tabs/tabs
include ../../components/content-blocks/work-area/work-area

include ../../components/content-elements/default/default
include ../../components/content-elements/img-text/img-text
include ../../components/content-elements/img-title/img-title
include ../../components/content-elements/news-photo-description/news-photo-description
include ../../components/content-elements/photo-fancybox/photo-fancybox
include ../../components/content-elements/specialist/specialist
include ../../components/content-elements/video-fancybox/video-fancybox

include ../../components/content-layouts/component/component
include ../../components/content-layouts/main/main
include ../../components/content-layouts/slider-news/slider-news


doctype html
html(lang="ru")

	block head
		head
			+a-b-head({
				"title": "MIAC",
				"author": "Roma Ivanov",
				"description": "MIAC"
			})
	body
		+a-l-preloader()
		
		.page-wrap.fw
			block header
				+a-l-search-menu-button({
					"class": "grey lighten-3 transparent-bg-27"
				})
				+a-l-logo-phone({
					"class": ""
				})
				+a-b-main-nav({
					"class": "default-bg-gradient"
				})
				+a-b-mobile-nav()
				
			block content
				

			block footer
				+b.c-l-component.default-bg-gradient-shadow.dark
					+e.wrap
						+b.c-b-elements-slider.col4
							+e.carousel
								+e.item
									+c-e-default({
										title: 'Каледндарь сдачи отчетов',
										class: 'white waves-effect waves-default-color'
									})
								+e.item
									+c-e-default({
										title: 'Независимая оценка качества оказания услуг медицинскими организациям',
										class: 'white waves-effect waves-default-color'
									})
								+e.item
									+c-e-default({
										title: 'ГОСУСЛУГИ',
										class: 'white waves-effect waves-default-color'
									})
								+e.item
									+c-e-default({
										title: 'Помогаем сделать образ жизни здоровым! Помогаем сделать образ жизни здоровым!',
										class: 'white waves-effect waves-default-color'
									})
								+e.item
									+c-e-default({
										title: 'Профилактика ВИЧ/СПИДа в России',
										class: 'white waves-effect waves-default-color'
									})
				+b.c-l-main
					+e.wa-wrap(style="width: 100%")
						+b.c-b-elements-list.col4
							+e.item
								+c-e-default({
									title: 'Личный кабинет',
									class: 'default-color-light waves-effect waves-default-color'
								})
							+e.item
								+c-e-default({
									title: 'Ответы на часто задаваемые вопросы',
									class: 'default-color-light waves-effect waves-default-color'
								})
							+e.item
								+c-e-default({
									title: 'Медицинские ресурсы',
									class: 'default-color-light waves-effect waves-default-color'
								})
							+e.item
								+c-e-default({
									title: 'Полезная информация',
									class: 'default-color-light waves-effect waves-default-color'
								})
				+a-l-footer()
				
			block vendors
				// build:js js/vendor.js
				script( src="libs/jquery/jquery.min.js")
				script( src="libs/slick/slick.min.js")
				script( src="libs/materialize/js/materialize.min.js")
				script( src="libs/stacktable/stacktable.js")
				script( src="libs/matchHeight/jquery.matchHeight.js")
				script( src="libs/fancybox/fancybox.min.js")
				// endbuild

			block scripts
				// build:js js/main.js
				script( src="js/main.js")
				// endbuild
