include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include ../../components/app-blocks/head/head

include ../../components/app-blocks/global-search/global-search
include ../../components/app-blocks/logo-main/logo-main

include ../../components/app-layouts/preloader/preloader

doctype html
html(lang="ru")

	block head
		head
			+a-b-head({
				"title": "MIAC",
				"author": "Roma Ivanov",
				"description": "MIAC"
			})
	body
		+a-l-preloader()
		.page-wrap.fw
			block content
				
		block vendors
			// build:js js/vendor.js
			script( src="libs/jquery/jquery.min.js")
			// endbuild

		block scripts
			// build:js js/main.js
			script( src="js/main.js")
			// endbuild
