mixin c-b-table-alt()
  +b.TABLE
    caption Название таблицы
    thead
      tr
        th Название
        th Описание
        th Размер
        th Тип
    tbody
      tr
        td
          a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
          br
          span Опубликован 15.11.2017
        td О порядке проведения профилактических медицинских осмотров несовершеннолетних
        td 3.02 Мб
        td
          i.fas.fa-file-pdf
      tr
        td
          a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
          br
          span Опубликован 15.11.2017
        td О порядке проведения профилактических медицинских осмотров несовершеннолетних
        td 3.02 Мб
        td
          i.fas.fa-file-word
      tr
        td
          a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
          br
          span Опубликован 15.11.2017
        td О порядке проведения профилактических медицинских осмотров несовершеннолетних
        td 3.02 Мб
        td
          i.fas.fa-file-excel
      tr
        td
          a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
          br
          span Опубликован 15.11.2017
        td О порядке проведения профилактических медицинских осмотров несовершеннолетних
        td 3.02 Мб
        td
          i.fas.fa-file-archive
      tr
        td
          a(href="#" download) Приказ Министерства здравоохранения Калининградской области от 10.08.2017 года № 514н
          br
          span Опубликован 15.11.2017
        td О порядке проведения профилактических медицинских осмотров несовершеннолетних
        td 3.02 Мб
        td
          i.fas.fa-file-alt