table
  caption
    text-align: left
    border-bottom: 1px solid #d0d0d0
  thead
    tr
      th
  i
    font-size: 20px
    color: $default-color
  a
    @extend .default-color-link
    text-decoration: none !important
  tbody
    font-size: .8em
    tr:nth-child(2n)
      background-color: #fafafa
    tr
      border-bottom: 1px solid #eee
      td
      td.st-key
        text-align: left
        font-weight: 500
table.stacktable.small-only
  margin-bottom: 15px
  tbody
    border: 1px solid #eee
    border-radius: 2px !important

body.black-on-white
  table i
    color: #212121

body.white-on-black
  table tbody tr:nth-child(2n)
    background-color: #616161
  table i
    color: #fff

body.blue-on-azure
  table tbody tr:nth-child(2n)
    background-color: darken($azure, 5%)
  table tbody tr
    border-bottom: 1px solid $dark-blue !important
  table i
    color: $dark-blue

body.brown-on-beige
  table tbody tr:nth-child(2n)
    background-color: darken($beige, 5%)
  table tbody tr
    border-bottom: 1px solid $brown !important
  table i
    color: $brown

body.green-on-brown
  table tbody tr:nth-child(2n)
    background-color: lighten($brown, 20%)
  table tbody tr
    border-bottom: 1px solid $brown !important
  table i
    color: $green