.c-b-elements-slider
  position: relative
  width: 100%
  display: block

.c-b-elements-slider__header
  margin-bottom: 15px
  font-size: 1.3em

.c-b-elements-slider__carousel
  display: block
  margin-right: -15px
  margin-left: -15px
  margin-bottom: 0px !important
.c-b-elements-slider .slick-list
  width: 100%

.c-b-elements-slider__item
  height: 100%
  padding: 0px 15px 30px
  &:focus, &:active
    outline: 0
    outline-offset: 0

.c-b-elements-slider .slick-arrow
  position: absolute
  top: 50%
  margin-top: -42px
  border: none
  background-color: transparent
  z-index: 1
  opacity: 0
  transition: all .3s ease
.c-b-elements-slider:hover .slick-arrow
  opacity: 1
.c-b-elements-slider .slick-arrow i
  font-size: 50px
  text-shadow: 0px 1px 6px #616161
  color: #fff
.c-b-elements-slider .slick-arrow.slick-left
  left: -5px
.c-b-elements-slider .slick-arrow.slick-right
  right: -5px
.c-b-elements-slider:hover .slick-arrow.slick-left
  left: -15px
.c-b-elements-slider:hover .slick-arrow.slick-right
  right: -15px

.c-b-elements-slider .slick-dots
    position: absolute
    bottom: 4px
    top: auto
    opacity: 0
    transition: opacity .3s ease
    @media #{$_sm}
      opacity: 1
.c-b-elements-slider:hover .slick-dots
  opacity: 1 
.c-b-elements-slider .slick-dots li.slick-active button:before
  color: $default-color
.c-b-elements-slider .slick-dots li button:before
  color: $default-color
.c-b-elements-slider .slick-dots li.slick-active button:before
  opacity: 1
.c-b-elements-slider .slick-dots li button:before
  opacity: .25
  font-size: 10px

.c-l-component.dark .c-b-elements-slider__header
  color: #fff
.c-l-component.dark
  .c-b-elements-slider .slick-dots li.slick-active button:before
    color: #fff
  .c-b-elements-slider .slick-dots li button:before
    color: #fff

.page-wrap.fw .c-b-elements-slider .slick-arrow
  @media #{$_xlg}
    display: none !important

.page-wrap.nw .c-b-elements-slider .slick-arrow
  @media #{$_sm}
    display: none !important

body.black-on-white
  .c-b-elements-slider .slick-dots li.slick-active button:before
    color: #212121 !important
  .c-b-elements-slider .slick-dots li button:before
    color: #212121 !important

body.white-on-black
  .c-b-elements-slider__header
    color: #fff !important
  .c-b-elements-slider .slick-dots li.slick-active button:before
    color: #fff !important
  .c-b-elements-slider .slick-dots li button:before
    color: #fff !important

body.blue-on-azure
  .c-b-elements-slider__header
    color: $dark-blue !important
  .c-b-elements-slider .slick-dots li.slick-active button:before
    color: $dark-blue !important
  .c-b-elements-slider .slick-dots li button:before
    color: $dark-blue !important

body.brown-on-beige
  .c-b-elements-slider__header
    color: $brown !important
  .c-b-elements-slider .slick-dots li.slick-active button:before
    color: $brown !important
  .c-b-elements-slider .slick-dots li button:before
    color: $brown !important

body.green-on-brown
  .c-b-elements-slider__header
    color: $green !important
  .c-b-elements-slider .slick-dots li.slick-active button:before
    color: $green !important
  .c-b-elements-slider .slick-dots li button:before
    color: $green !important