.c-b-elements-list
  justify-content: flex-start
  display: flex
  margin-left: -15px
  margin-right: -15px
  flex-wrap: wrap
.c-b-elements-list__header
  width: 100%
  padding: 0px 15px
  margin-bottom: 15px
  font-size: 1.3em
  line-height: 20px
.c-b-elements-list__item
  margin-bottom: 30px
  padding: 0px 15px

.c-b-elements-list.col4 .c-b-elements-list__item
  width: 25%
  @media #{$_md}
    width: 50%
  @media #{$_xs}
    width: 100%
  
.c-b-elements-list.col3 .c-b-elements-list__item
  width: 33.3333%
  @media #{$_md}
    width: 50%
  @media #{$_xs}
    width: 100%

.c-b-elements-list.col1 .c-b-elements-list__item
  width: 100%

.component-layout.dark .c-b-elements-list__header
  color: #fff

body.white-on-black
  .c-b-elements-list__header
    color: #fff !important

body.blue-on-azure
  .c-b-elements-list__header
    color: $dark-blue !important

body.brown-on-beige
  .c-b-elements-list__header
    color: $brown !important

body.green-on-brown
  .c-b-elements-list__header
    color: $green !important