mixin c-b-elements-list()
	+b.UL.c-b-elements-list.mt30
		+e.LI.item
			+widget-default({
				title: 'Календарь сдачи отчетов',
				class: 'white icon waves-effect waves-default-color',
				icon: 'fa-calendar'
			})
		+e.LI.item
			+widget-default({
				title: 'Министерство зравоохраниения Калининградской области',
				class: 'blue darken-4 dark icon waves-effect waves-light',
				img: "img/logo-kalmed.png"
			})
		+e.LI.item
			+widget-default({
				title: 'Вызвать скорую',
				class: 'deep-orange darken-3 dark icon waves-effect waves-light',
				icon: 'fa-ambulance'
			})