mixin c-e-news-photo-description()
  +b.c-e-news-photo-description
    +e.date 
      +a-b-date-day()
    +e.wrap
      +e.photo
        a(href="#")
          img(src="img/pictures/large/4.jpeg")
      +e.description
        +e.title 
          a(href="#") На развитие здравоохранения региону выделено более девяноста одного миллиона рублей из федерального бюджета.
        +e.about Средства будут направлены на приобретение передвижных медицинских комплексов для работы на селе и переоснащение детских поликлиник.