.c-e-news-photo-description
  border-bottom: 1px solid #eee
  padding-bottom: 15px
.c-e-news-photo-description__date
  margin-bottom: 5px

.c-e-news-photo-description__wrap
  display: flex
  width: 100%
  justify-content: space-between
  @media #{$_xs}
    flex-wrap: wrap
.c-e-news-photo-description__photo
  flex: 0 0 30%
  margin-right: 30px
  a
    display: block
  img
    width: 100%
    border-radius: 2px
    box-shadow: $z-depth-1
  @media #{$_xs}
    flex: 0 0 100%
.c-e-news-photo-description__description
  flex: 0 1 100%
.c-e-news-photo-description__title
  margin-bottom: 5px
  a
    text-decoration: none !important
.c-e-news-photo-description__about
  font-size: .9em

body.black-on-white
  .c-e-news-photo-description__photo img
    filter: grayscale(100%)

body.white-on-black
  .c-e-news-photo-description__photo img
    filter: grayscale(100%)

body.blue-on-azure
  .c-e-news-photo-description__photo img
    filter: grayscale(100%)
  .c-e-news-photo-description
    border-bottom: 1px solid $dark-blue

body.brown-on-beige
  .c-e-news-photo-description__photo img
    filter: grayscale(100%)
  .c-e-news-photo-description
    border-bottom: 1px solid $brown

body.green-on-brown
  .c-e-news-photo-description__photo img
    filter: grayscale(100%)