.a-l-logo-search
  padding-top: 20px
  padding-bottom: 13px
  border-bottom: 1px solid #e0e0e0

.a-l-logo-search__left-container
  +col(6)
  @media #{$_lg}
    +col(7)
  @media #{$_md}
    +col(8)
  @media #{$_sm}
    +col(12)

.a-l-logo-search__right-container
  text-align: right
  display: flex
  +col(4)
  @media #{$_lg}
    +col(5)
  @media #{$_md}
    +col(12)
  @media #{$_xs}
    display: none
  .a-b-global-search
    margin: auto 0px

.a-l-logo-search.dark .logo_main__text
  color: #fff

.page-wrap.fw .a-l-logo-search__wrap
  +row()
  padding-left: 15px
  padding-right: 15px
.page-wrap.fw .a-l-logo-search__right-container
  +col(3)
  @media #{$_lg}
    +col(5)
  @media #{$_md}
    +col(12)
  @media #{$_xs}
    display: none
.page-wrap.nw .a-l-logo-search__wrap
  +container()
.page-wrap.nw .a-l-logo-search__right-container
  +col(4)