.a-l-page-404
	min-height: 100vh
	background: #fff
	width: 100%
	padding-top: 50px
.a-l-page-404__body
	+container()
	padding: 0px 15px

.a-l-page-404__error
	color: red
.a-l-page-404__title
	font-size: 30px
	color: #616161
	width: 100%
.a-l-page-404__description
	width: 100%
	margin-bottom: 30px
	a
		text-decoration: underline
    // @extend .default-color-link
		

.a-l-page-404__search
	width: 100%
	margin-bottom: 30px

.a-l-page-404 .logo_main
	margin-bottom: 30px
	margin-top: 50px

.nav-sub__404
	width: 100%

.nav-sub__404 .nav-sub__wrap
	padding: 0px
	width: 100%
	justify-content: space-between
.nav-sub__404 .nav-sub__section
	padding: 0px
	+col(3)
	@media #{$_md}
    +col(6)
	@media #{$_xs}
    +col(12)

body.white-on-black
	.a-l-page-404
		background-color: #212121
	.a-l-page-404__title
		color: #fff
	.a-l-page-404__description
		color: #fff

body.blue-on-azure
	.a-l-page-404
		background-color: $azure
	.a-l-page-404__title
		color: $dark-blue
	.a-l-page-404__description
		color: $dark-blue

body.brown-on-beige
	.a-l-page-404
		background-color: $beige
	.a-l-page-404__title
		color: $brown
	.a-l-page-404__description
		color: $brown

body.green-on-brown
	.a-l-page-404
		background-color: $brown
	.a-l-page-404__title
		color: $green
	.a-l-page-404__description
		color: $green