.c-b-news-list
  padding: 25px 30px 0px
  box-shadow: $z-depth-1
  background-color: #fff
  border-radius: 2px
  margin-bottom: 30px
  height: 100%
.c-b-news-list__head
  text-transform: uppercase
  color: #616161
  font-size: .8em
  border-bottom: 1px solid #eee
  padding-bottom: 15px
  a
    text-transform: none
    float: right
    font-size: .9em
.c-b-news-list__body
  margin: 0px
  padding-top: 15px
.c-b-news-list__nobody
  @extend .c-b-news-list
  box-shadow: none
  padding: 0px

.c-b-news-list_item
  padding-bottom: 11px
  border-bottom: 1px solid #eee
  margin-bottom: 15px
  &:last-child
    border: none
    margin-bottom: 0px
    padding-bottom: 25px

.accent .c-b-news-list_item__title a
  font-weight: bold
.c-b-news-list_item__title
.c-b-news-list_item__date
  margin-bottom: 5px

.c-b-news-list.hauto
  height: auto !important

body.black-on-white
  .c-b-news-list_item__title a
    color: #212121
  .c-b-news-list__head a
    color: #212121
  .c-b-news-list__head
    border-bottom: 1px solid #212121
    color: #212121
  .c-b-news-list_item
    border-bottom: 1px solid #212121
    &:last-child
      border: none

body.white-on-black
  .c-b-news-list
    background-color: #212121
  .c-b-news-list_item__title a
    color: #fff
  .c-e-news-photo-description__about
    color: #fff
  .c-b-news-list__head a
    color: #fff
  .c-b-news-list__head
    border-bottom: 1px solid #fff
    color: #fff
  .c-b-news-list_item
    border-bottom: 1px solid #fff
    &:last-child
      border: none

body.blue-on-azure
  .c-b-news-list
    background-color: $azure
  .c-b-news-list_item__title a
    color: $dark-blue
  .c-e-news-photo-description__about
    color: $dark-blue
  .c-b-news-list__head a
    color: $dark-blue
  .c-b-news-list__head
    border-bottom: 1px solid $dark-blue
    color: $dark-blue
  .c-b-news-list_item
    border-bottom: 1px solid $dark-blue
    &:last-child
      border: none

body.brown-on-beige
  .c-b-news-list
    background-color: $beige
  .c-b-news-list_item__title a
    color: $brown
  .c-e-news-photo-description__about
    color: $brown
  .c-b-news-list__head a
    color: $brown
  .c-b-news-list__head
    border-bottom: 1px solid $brown
    color: $brown
  .c-b-news-list_item
    border-bottom: 1px solid $brown
    &:last-child
      border: none

body.green-on-brown
  .c-b-news-list
    background-color: $brown
  .c-b-news-list_item__title a
    color: $green
  .c-e-news-photo-description__about
    color: $green
  .c-b-news-list__head a
    color: $green
  .c-b-news-list__head
    border-bottom: 1px solid $green
    color: $green
  .c-b-news-list_item
    border-bottom: 1px solid $green
    &:last-child
      border: none