mixin c-b-news-list(data)
  +b.c-b-news-list(class = data.class)
    +e.head Новости
      a(href="#").default-color-link Все новости
    +e.UL.body
      +b.LI.c-b-news-list_item.accent
        +e.date 
          +a-b-date-day()
        +e.title
          a(href='#' class="default-color-link") Система здравоохранения субъектов РФ и гражданин – навстречу друг другу!
      +b.LI.c-b-news-list_item
        +e.date 
          +a-b-date-day()
        +e.title
          a(href='#' class="default-color-link") Ролик по вакцинопрофилактике в рамках Европейской недели иммунизации "Я привит!"
      +b.LI.c-b-news-list_item
        +e.date 
          +a-b-date-day()
        +e.title
          a(href='#' class="default-color-link") Органы власти субъектов РФ – навстречу детям!

