.a-b-subscription
  padding: 25px 30px
  background-color: #fff
  border-radius: 2px
  box-shadow: $z-depth-1
  height: 100%
  display: flex
.a-b-subscription__body
  margin: auto 0px
.a-b-subscription__title
  margin-bottom: 10px
.a-b-subscription__email
  margin-bottom: 15px

body.white-on-black
  .a-b-subscription
    background-color: #212121
  .a-b-subscription__title
    color: #fff

body.blue-on-azure
  .a-b-subscription
    background-color: $azure
  .a-b-subscription__title
    color: $dark-blue

body.brown-on-beige
  .a-b-subscription
    background-color: $beige
  .a-b-subscription__title
    color: $brown

body.green-on-brown
  .a-b-subscription
    background-color: $brown
  .a-b-subscription__title
    color: $green