mixin a-b-subscription()
  +b.a-b-subscription
    +e.body
      +e.title Подпишитесь, чтобы получать извещения о публикации новостей
      +e.form
        form
          +e.INPUT.email.browser-default.input-default(type="text" placeholder="Ваш eMail")
          button.btn-outline.waves-effect.waves-default-color Подписаться