.c-e-video-fancybox
  position: relative
  transition: all .3s ease
  box-shadow: $z-depth-1
  width: 100%
  a
    width: 100%
  img
    display: block
    border-radius: 2px
    width: 100%
.c-e-video-fancybox:hover
  box-shadow: $z-depth-2

.c-e-video-fancybox__description
  position: absolute
  top: 0px
  right: 0px
  bottom: 0px
  left: 0px
  background-color: transparentize(#212121, .5)
  color: #fff
  padding: 25px 30px 0px
  transition: all .3s ease
.c-e-video-fancybox__icon
  display: inline-block
  background-color: #fff
  color: $default-color
  border-radius: 50%
  padding: 7px 9.5px 7px 9.62px
  margin-bottom: 5px
.c-e-video-fancybox__title
  font-size: 14px
  
.c-e-video-fancybox__description:hover
  background-color: transparentize($default-color, .5)
  .c-e-video-fancybox__title
    display: none
  .c-e-video-fancybox__icon
    position: absolute
    top: 50%
    left: 50%
    margin-left: -29px
    margin-top: -29px
    margin-bottom: 0px
    padding: 18px 19.5px 16px 19.62px


body.black-on-white
  .c-e-video-fancybox__description
    color: #212121
    background-color: #fff
  .c-e-video-fancybox__icon
    border: 1px solid #212121
    color: #212121

body.white-on-black
  .c-e-video-fancybox__description
    color: #fff
    background-color: #212121
  .c-e-video-fancybox__icon
    border: 1px solid #fff
    color: #212121

body.blue-on-azure
  .c-e-video-fancybox__description
    color: $dark-blue
    background-color: $azure
  .c-e-video-fancybox__icon
    border: 1px solid $dark-blue
    color: $dark-blue

body.brown-on-beige
  .c-e-video-fancybox__description
    color: $brown
    background-color: $beige
  .c-e-video-fancybox__icon
    border: 1px solid $brown
    color: $brown

body.green-on-brown
  .c-e-video-fancybox__description
    color: $green
    background-color: $brown
  .c-e-video-fancybox__icon
    border: 1px solid $green
    color: $green