mixin c-e-video-fancybox(data)
  +b.c-e-video-fancybox
    a(href="https://www.youtube.com/watch?v=4dUNiNrFA2c" data-fancybox="images").waves-effect.waves-light
      img(src="http://i.ytimg.com/vi/4dUNiNrFA2c/mqdefault.jpg" alt="Европейская Россия - Калининград. Часть 1." title="Европейская Россия - Калининград. Часть 1.")
      +e.description
        +e.icon
          i.fas.fa-video
        +e.title Европейская Россия - Калининград. Часть 1.