mixin a-b-search()
  +b.a-b-search
    div(style="margin-top: 15px; margin-bottom: 15px")
      +a-b-global-search()
    
    a(class="waves-effect waves-light btn-flat default-bg" id="searchDateDiapazonGo") Указать диапазон дат
    div(class="a-b-search__date" style="display: none" id="searchDateDiapazonInputs")
      div(style="max-width: 240px; display: inline-block; margin-right: 10px")
        input(class="browser-default input-default datepicker" type="text" placeholder="Дата")
      div(style="max-width: 240px; display: inline-block")
        input(class="browser-default input-default datepicker" type="text" placeholder="Дата")
    +a-b-pagination()
    +e.UL.results-list
      +e.LI.results-item
        +e.results-item-title 
          a(href="#") С начала года эндокринология Городской больницы № 1 приняла около ста девяноста пациентов
        div ... эндокринологии» Минздрава России. Также в отделении сегодня трудятся молодые специалисты – врачи-терапевты Михаил Скиба и Юлия Шапина, летом больница на улице Чапаева ожидают еще двух специалистов-эндокринологов, которые призваны усилить его состав. Как рассказала Елена Федорова,...

        div Изменен: 23.04.2018
        div
          a(href="#") Путь: Главная / Пресс-центр
      +e.LI.results-item
        +e.results-item-title 
          a(href="#") С начала года эндокринология Городской больницы № 1 приняла около ста девяноста пациентов
        div ... эндокринологии» Минздрава России. Также в отделении сегодня трудятся молодые специалисты – врачи-терапевты Михаил Скиба и Юлия Шапина, летом больница на улице Чапаева ожидают еще двух специалистов-эндокринологов, которые призваны усилить его состав. Как рассказала Елена Федорова,...

        div Изменен: 23.04.2018
        div
          a(href="#") Путь: Главная / Пресс-центр
      +e.LI.results-item
        +e.results-item-title 
          a(href="#") С начала года эндокринология Городской больницы № 1 приняла около ста девяноста пациентов
        div ... эндокринологии» Минздрава России. Также в отделении сегодня трудятся молодые специалисты – врачи-терапевты Михаил Скиба и Юлия Шапина, летом больница на улице Чапаева ожидают еще двух специалистов-эндокринологов, которые призваны усилить его состав. Как рассказала Елена Федорова,...

        div Изменен: 23.04.2018
        div
          a(href="#") Путь: Главная / Пресс-центр
      +e.LI.results-item
        +e.results-item-title 
          a(href="#") С начала года эндокринология Городской больницы № 1 приняла около ста девяноста пациентов
        div ... эндокринологии» Минздрава России. Также в отделении сегодня трудятся молодые специалисты – врачи-терапевты Михаил Скиба и Юлия Шапина, летом больница на улице Чапаева ожидают еще двух специалистов-эндокринологов, которые призваны усилить его состав. Как рассказала Елена Федорова,...

        div Изменен: 23.04.2018
        div
          a(href="#") Путь: Главная / Пресс-центр
    +a-b-pagination()