mixin a-b-mobile-nav()
  +b.UL.a-b-mobile-nav( id="slide-out" class="sidenav")
    li
      a(href="#" class="waves-effect waves-default-color a-b-mobile-nav__item") Аттестация
    li
      a(href="#" class="waves-effect waves-default-color a-b-mobile-nav__item") Календарь отчетов
    
    ul(class="collapsible")
      li
        a(class="collapsible-header waves-effect waves-default-color a-b-mobile-nav__item") Второй уровень
          i.fa.fa-caret-down
        div.collapsible-body
          ul
            li
              a(href="#!" class="waves-effect waves-default-color a-b-mobile-nav__item") Структура
            li
              a(href="#!" class="waves-effect waves-default-color a-b-mobile-nav__item") Вакансии

            ul(class="collapsible")
              li
                a(class="collapsible-header waves-effect waves-default-color a-b-mobile-nav__item") Третий уровень
                  i.fa.fa-caret-down
                div.collapsible-body
                  ul
                    li
                      a(href="#!" class="waves-effect waves-default-color a-b-mobile-nav__item") Один
                    li
                      a(href="#!" class="waves-effect waves-default-color a-b-mobile-nav__item") Два
                    li
                      a(href="#!" class="waves-effect waves-default-color a-b-mobile-nav__item") Три
                    
                    ul(class="collapsible")
                      li
                        a(class="collapsible-header waves-effect waves-default-color a-b-mobile-nav__item") Четвертый уровень
                          i.fa.fa-caret-down
                        div.collapsible-body
                          ul
                            li
                              a(href="#!" class="waves-effect waves-default-color a-b-mobile-nav__item") Один
                            li
                              a(href="#!" class="waves-effect waves-default-color a-b-mobile-nav__item") Два названия в одном. Это как одно, только длиньше на одно
            
            li
              a(href="#!" class="waves-effect waves-default-color a-b-mobile-nav__item") Карточка учреждения
            li
              a(href="#!" class="waves-effect waves-default-color a-b-mobile-nav__item") Контакты

    li
      a(href="#" class="waves-effect waves-default-color a-b-mobile-nav__item") Новости
    li
      a(href="#" class="waves-effect waves-default-color a-b-mobile-nav__item") РС ЕГИСЗ

  +b.A(href="#" data-target="slide-out" class="sidenav-trigger waves-effect waves-light").fixed-menu-activator
    i.fa.fa-bars