.a-b-mobile-nav
.a-b-mobile-nav__item
  border-bottom: 1px solid #eee !important
  padding: 0px 16px !important
  min-height: 48px !important
  height: auto !important
.a-b-mobile-nav__item i
  float: right !important
  font-size: 15px
  margin-right: 0px !important
  width: auto !important

.a-b-mobile-nav .collapsible-body li a
  padding: 0 23.5px 0 30px !important
.a-b-mobile-nav .collapsible-body .collapsible-body li a
  padding: 0 23.5px 0 45px !important
.a-b-mobile-nav .collapsible-body .collapsible-body .collapsible-body li a
  padding: 0 23.5px 0 60px !important
  
.fixed-menu-activator
  position: fixed
  display: none
  right: 25px
  bottom: 25px
  background-color: lighten($default-color, 5%)
  color: #ffffff
  height: 50px
  width: 50px
  line-height: 50px
  border-radius: 50%
  z-index: 100
  text-align: center
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3)
  &:hover
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3)
    background-color: $default-color
  @media #{$_md}
    display: block

body.white-on-black
  .a-b-mobile-nav
    background-color: #212121
    color: #fff !important
    .a-b-mobile-nav__item
      color: #fff !important
      border-bottom: 1px solid #fff !important
      i
        color: #fff !important
    .collapsible-body
      background-color: #212121

body.blue-on-azure
  .a-b-mobile-nav
    background-color: $azure
    color: $dark-blue !important
    .a-b-mobile-nav__item
      color: $dark-blue !important
      border-bottom: 1px solid $dark-blue !important
      i
        color: $dark-blue !important
    .collapsible-body
      background-color: $azure

body.brown-on-beige
  .a-b-mobile-nav
    background-color: $beige
    color: $brown !important
    .a-b-mobile-nav__item
      color: $brown !important
      border-bottom: 1px solid $brown !important
      i
        color: $brown !important
    .collapsible-body
      background-color: $beige

body.green-on-brown
  .a-b-mobile-nav
    background-color: $brown
    color: $green !important
    .a-b-mobile-nav__item
      color: $green !important
      border-bottom: 1px solid $green !important
      i
        color: $green !important
    .collapsible-body
      background-color: $brown
