mixin a-b-main-nav(data)
  +b.NAV.a-b-main-nav(class=data.class)
    div.nav-wrapper
      ul(id="nav-mobile" class="hide-on-med-and-down a-b-main-nav__body")
        li.active
          a(href="#" class="waves-effect waves-light") Главная
        
        li(class="")
          a(class="waves-effect waves-light active trigger2level") Об учреждении
            i(class="fa fa-caret-down")
          ul(class="a-b-main-nav__submenu")
            li
              a(href="#" class="waves-effect waves-default-color") Информация
            li
              a(href="#" class="waves-effect waves-default-color") Структура и органы управления
            li
              a(href="#" class="waves-effect waves-default-color") Лицензии
            li
              a(href="#" class="waves-effect waves-default-color") Контакты
            li
              a(href="#" class="waves-effect waves-default-color") Независимая оценка качества
            li
              a(href="#" class="waves-effect waves-default-color") Противодействие коррупции
            li
              a(href="#" class="waves-effect waves-default-color") Антитеррористическая комиссия
            li
              a(href="#" class="waves-effect waves-default-color") Закупки
            
            li
              a(class=" waves-effect waves-default-color active trigger3level") Новости
                i.fa.fa-caret-right
              ul(class="a-b-main-nav__submenu")
                li
                  a(href="#" class="waves-effect waves-default-color") Новости Минздрава КО
                li
                  a(href="#" class="waves-effect waves-default-color active") Новости учреждения
            
        li
          a(class="waves-effect waves-light trigger2level") Пациентам
            i(class="fa fa-caret-down")
          ul(class="a-b-main-nav__submenu")
            li
              a(href="#" class="waves-effect waves-default-color") Режим и график работы МО
            li
              a(href="#" class="waves-effect waves-default-color") График приема граждан руководством
            li
              a(href="#" class="waves-effect waves-default-color") Права и обязаности граждан
            li
              a(href="#" class="waves-effect waves-default-color") Правила внутреннего распорядка
            li
              a(class="waves-effect waves-default-color trigger3level") Территориальная программа государтсвенных гарантий бесплатного оказания гражданам медицинской помощи
                i.fa.fa-caret-right
              ul(class="a-b-main-nav__submenu")
                li
                  a(href="#" class="waves-effect waves-default-color") Виды медицинской помощи
                li
                  a(href="#" class="waves-effect waves-default-color") Порядок, объем и условия оказания медицинской помощи
                li
                  a(href="#" class="waves-effect waves-default-color") Показатели доступности и качества медицинской помощи
                li
                  a(href="#" class="waves-effect waves-default-color") Правила записи на первичный прием/консультацию/обследование
                li
                  a(href="#" class="waves-effect waves-default-color") Правила подготовки к диагностическим исследованиям
                li
                  a(href="#" class="waves-effect waves-default-color") Правила и сроки госпитализации
        li
          a(href="#" class="waves-effect waves-light") Специалистам
        li
          a(href="#" class="waves-effect waves-light") Документы
        li
          a(href="#" class="waves-effect waves-light") Контакты
        li
          a(href="#" class="waves-effect waves-light") Специалистам

        li(class="")
          a(class="waves-effect waves-light active trigger2level") Об учреждении
            i(class="fa fa-caret-down")
          ul(class="a-b-main-nav__submenu")
            li
              a(href="#" class="waves-effect waves-default-color") Информация
            li
              a(href="#" class="waves-effect waves-default-color") Структура и органы управления
            li
              a(href="#" class="waves-effect waves-default-color") Лицензии
            li
              a(href="#" class="waves-effect waves-default-color") Контакты
            li
              a(href="#" class="waves-effect waves-default-color") Независимая оценка качества
            li
              a(href="#" class="waves-effect waves-default-color") Противодействие коррупции
            li
              a(href="#" class="waves-effect waves-default-color") Антитеррористическая комиссия
            li
              a(href="#" class="waves-effect waves-default-color") Закупки
            
            li
              a(class=" waves-effect waves-default-color active trigger3level") Новости
                i.fa.fa-caret-right
              ul(class="a-b-main-nav__submenu")
                li
                  a(href="#" class="waves-effect waves-default-color") Новости Минздрава КО
                li
                  a(href="#" class="waves-effect waves-default-color") Новости учреждения
                li
                  a(class=" waves-effect waves-default-color active trigger3level") Новости
                    i.fa.fa-caret-right
                  ul(class="a-b-main-nav__submenu")
                    li
                      a(href="#" class="waves-effect waves-default-color") Новости Минздрава КО
                    li
                      a(href="#" class="waves-effect waves-default-color active") Новости учреждения
            
        
