.a-b-main-nav
  height: auto
  @media #{$_md}
    display: none

.page-wrap.nw .a-b-main-nav .nav-wrapper
  +container()
.page-wrap.fw .a-b-main-nav .nav-wrapper
  +row()
  padding: 0px 15px

.a-b-main-nav.light
  box-shadow: none
.a-b-main-nav.light li a
  color: $default-color

.a-b-main-nav a
  text-decoration: none
  display: block
  transition: .3s linear
  font-size: 1em
.a-b-main-nav ul
  list-style: none
  margin: 0
  padding: 0
.a-b-main-nav__body > li
  display: inline-block
  position: relative
  height: 64px !important
.a-b-main-nav__body > li a.trigger2level > i
  height: 62px
  line-height: 64px
  font-size: .8em
  margin-left: 15px
.a-b-main-nav__body > li a.trigger2level
  cursor: pointer

.a-b-main-nav__submenu
  position: absolute
  z-index: 5
  width: 300px
  visibility: hidden
  display: none
  transform: translateY(10px)
  transition: .3s ease-in-out
  box-shadow: $z-depth-5
  border-radius: 2px
  background: white
.a-b-main-nav__submenu li
  position: relative
  width: 100%
  border-bottom: 1px solid #eee
.a-b-main-nav__submenu a
  color: #212121
  text-align: left
  padding: 15px 30px
  line-height: 1.5
.a-b-main-nav__submenu a.active
  background-color: #eee
  color: $default-color

.a-b-main-nav__submenu a i
  float: right
  line-height: 23px
  height: 23px
  font-size: 1em

.a-b-main-nav__submenu .a-b-main-nav__submenu
  position: absolute
  top: 0
.a-b-main-nav li.collapse > .a-b-main-nav__submenu
  visibility: visible
  display: block
  transform: translateY(0px)

body.black-on-white
  .a-b-main-nav.default-bg-gradient
    background: #fff !important
  .a-b-main-nav__body li a
    color: #212121
  .a-b-main-nav__body > li a.trigger2level > i
    font-size: 17px

body.white-on-black
  .a-b-main-nav.default-bg-gradient
    background: #212121 !important
  .a-b-main-nav__body li a
    color: #fff
  .a-b-main-nav__body > li a.trigger2level > i
    font-size: 17px
  .a-b-main-nav__submenu
    background-color: #212121
  .a-b-main-nav__submenu li a.active
    background-color: #616161

body.blue-on-azure
  .a-b-main-nav.default-bg-gradient
    background: $azure !important
  .a-b-main-nav__submenu li
    border-bottom: 1px solid $dark-blue
  .a-b-main-nav__body li a
    color: $dark-blue
  .a-b-main-nav__body > li a.trigger2level > i
    font-size: 17px
  .a-b-main-nav__submenu
    background-color: $azure
  .a-b-main-nav__submenu li a.active
    background-color: lighten($blue, 40%)

body.brown-on-beige
  .a-b-main-nav.default-bg-gradient
    background: $beige !important
  .a-b-main-nav__submenu li
    border-bottom: 1px solid $brown
  .a-b-main-nav__body li a
    color: $brown
  .a-b-main-nav__body > li a.trigger2level > i
    font-size: 17px
  .a-b-main-nav__submenu
    background-color: $beige
  .a-b-main-nav__submenu li a.active
    background-color: lighten($brown, 60%)

body.green-on-brown
  .a-b-main-nav.default-bg-gradient
    background: $brown !important
  .a-b-main-nav__body li a
    color: $green
  .a-b-main-nav__body > li a.trigger2level > i
    font-size: 17px
  .a-b-main-nav__submenu
    background-color: $brown
  .a-b-main-nav__submenu li a.active
    background-color: lighten($brown, 30%)