.c-e-img-title
  background-color: #fff
  box-shadow: $z-depth-1
  transition: box-shadow .3s ease
  border-radius: 0px 0px 2px 2px
.c-e-img-title:hover
  box-shadow: $z-depth-2
.c-e-img-title__photo
  img
    border-radius: 2px 2px 0px 0px
    width: 100%
.c-e-img-title__title
  padding: 25px 30px
  color: $default-color