extends templates/template-empty-page

block content
	+b.a-l-page-404
		+e.body
			+a-b-logo-main()
			+e.title Ошибка 
				+e.SPAN.error 404 
				| - Страница не найдена!
			+e.description Перейдите на 
				a(href="#") главную страницу
				|  или воспользуйтесь поиском.
			+e.search
				+a-b-global-search()
			
			.nav-sub__404
				.nav-sub__wrap
					.nav-sub__section
						.nav-sub__section-header
							a.default-color-link(href="#") Как сдают анализы
						ul.nav-sub__section-list
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Статистика
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Защита информации
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Удостоверяющий центр
								ul.nav-sub__section-list
									li.nav-sub__section-item
										a(href="#" class="default-color-link") Статистика
									li.nav-sub__section-item
										a(href="#" class="default-color-link") Защита информации
									li.nav-sub__section-item
										a(href="#" class="default-color-link") Удостоверяющий центр
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Обратная связь
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Далеко-далеко за словесными
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Аттестация
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Обратная связь
					.nav-sub__section
						.nav-sub__section-header
							a.default-color-link(href="#") Подраздел
						ul.nav-sub__section-list
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Статистика
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Защита информации
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Удостоверяющий центр
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Обратная связь
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Далеко-далеко за словесными
					.nav-sub__section
						.nav-sub__section-header
							a.default-color-link(href="#") Человеческая рождаемость
						ul.nav-sub__section-list
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Главная
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Новости
							li.nav-sub__section-item
								a(href="#" class="default-color-link") РС ЕГИСЗ
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Аттестация
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Обратная связь
					.nav-sub__section
						.nav-sub__section-header
							a.default-color-link(href="#") Как сдают анализы
						ul.nav-sub__section-list
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Статистика
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Защита информации
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Удостоверяющий центр
								ul.nav-sub__section-list
									li.nav-sub__section-item
										a(href="#" class="default-color-link") Статистика
									li.nav-sub__section-item
										a(href="#" class="default-color-link") Защита информации
									li.nav-sub__section-item
										a(href="#" class="default-color-link") Удостоверяющий центр
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Обратная связь
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Далеко-далеко за словесными
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Аттестация
							li.nav-sub__section-item
								a(href="#" class="default-color-link") Обратная связь
					