extends templates/template-nw

block content
	+a-b-breadcrumbs()
	+b.c-l-main
		+e.wa-wrap.fw
			+b.c-b-work-area
				+e.content
					+e.header
						+e.H1.title Календарь событий
					+c-b-calendar()