extends templates/template-nw

block content
	+a-b-breadcrumbs()
	+b.c-l-main
		+e.wa-wrap.nw
			+b.c-b-work-area
				+e.content
					+e.header
						+e.H1.title Задай вопрос врачу
					p Информация, поступившая через форму "Задай вопрос врачу", рассматривается соответствующим органом государственной власти или соответствующими государственными учреждениями и иными организациями, на которые возложено осуществление публично значимых функций, в порядке, определенном Федеральным законом от 02.05.2006 № 59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации» в течение 30 календарных дней.
					p Кроме того, в соответствии со статьей 8 указанного Федерального закона письменное обращение, содержащее вопросы, решение которых не входит в компетенцию соответствующего государственного органа или соответствующего государственного учреждения и иных организаций, на которые возложено осуществление публично значимых функций, направляется в течение семи дней со дня регистрации в соответствующий орган или соответствующему должностному лицу, в компетенцию которых входит решение поставленных в обращении вопросов, с уведомлением гражданина, направившего обращение, о переадресации обращения.
					hr
					strong Контактные данные
					+b.form-group(style="width: 60%")
						label(for="last-name") Фамилия
							span(style="color: red") *
						input(class="browser-default input-default" id="last-name" type="text" placeholder="Введите фамилию")
					+b.form-group(style="width: 60%")
						label(for="first-name") Имя
							span(style="color: red") *
						input(class="browser-default input-default" id="first-name" type="text" placeholder="Введите имя")
					+b.form-group(style="width: 60%")
						label(for="middle-name") Отчество
							span(style="color: red") *
						input(class="browser-default input-default" id="middle-name" type="text" placeholder="Введите отчество")
					+b.form-group(style="width: 60%")
						label(for="email") eMail
							span(style="color: red") *
						input(class="browser-default input-default" id="email" type="email" placeholder="Введите eMail")
					+b.form-group(style="width: 60%")
						label(for="phone") Телефон
							span(style="color: red") *
						input(class="browser-default input-default" id="phone" type="text" placeholder="Введите телефон")
						+e.comment В целях объективного и всестороннего рассмотрения Вашего обращения необходимо указать номер контактного телефона для возможных уточнений
					+b.form-group()
						label(for="phone") Почтовый адрес (индекс, населённый пункт, улица, дом, квартира)
							span(style="color: red") *
						textarea(class="browser-default input-default" id="phone" type="text" placeholder="Введите почтовый адрес" style="height: 100px")
					hr
					strong Вопрос
					+b.form-group
						select
							option(value="" disabled selected) Адресат обращения *
							option(value="1") Option 1
							option(value="2") Option 2
							option(value="3") Option 3
						label Адресат обращения *
					+b.form-group
						select
							option(value="" disabled selected) Врач *
							option(value="1") Option 1
							option(value="2") Option 2
							option(value="3") Option 3
						label Врач *

					+b.form-group
						p
							label
								input(class="with-gap" name="group1" type="radio")
								span Один
						p
							label
								input(class="with-gap" name="group1" type="radio")
								span Два
						p
							label
								input(class="with-gap" name="group1" type="radio")
								span Три

					+b.form-group()
						label(for="phone") Почтовый адрес (индекс, населённый пункт, улица, дом, квартира)
							span(style="color: red") *
						textarea(class="browser-default input-default" id="phone" type="text" placeholder="Введите почтовый адрес" style="height: 100px")
					+b.form-group()
						label(for="document") Прикрепить документ
						div(class="file-input")
							input(id="document" type="file")
					+b.form-group
						select
							option(value="" disabled selected) Получить ответ *
							option(value="1") Option 1
							option(value="2") Option 2
							option(value="3") Option 3
						label Получить ответ *
					+b.form-group(style="width: 60%")
						label(for="res-robot") Cколько будет 1 + 3 (защита от роботов)
							span(style="color: red") *
						input(class="browser-default input-default" id="res-robot" type="text" placeholder="Введите ответ")
					+b.form-group()
						label
							input(type="checkbox" id="bx_edit_after_save" name="editAfterSave" value="Y" checked="" class="adm-designed-checkbox")
							span Согласен и ознакомлен с правилами
					button(class="waves-effect waves-light btn-flat default-bg") Отправить
		+e.sb-r-wrap
			+a-b-sb-section-nav()
			+c-b-news-list({
        class: "hauto"
      })