extends templates/template-fw

block content
	+b.c-l-main
		+e.sb-l-wrap
			+a-b-sb-main-nav()
			+c-e-video-fancybox()
		+e.wa-wrap.fw
			+b.DIV.c-b-slider.normal-height
				+e.item
					+slide-photo({
						"img": "img/slider/img-1.jpg"
					})
				+e.item
					+slide-photo({
						"img": "img/slider/img-2.jpg"
					})
			+c-l-slider-news()
			
			+b.c-b-elements-list(class="col3 mt30")
				+e.item
					+c-e-default({
						title: 'Календарь сдачи отчетов',
						class: 'white icon waves-effect waves-default-color',
						icon: 'far fa-calendar-alt'
					})
				+e.item
					+c-e-default({
						title: 'Министерство зравоохраниения Калининградской области',
						class: 'blue darken-4 dark icon waves-effect waves-light',
						img: "img/logo-kalmed.png"
					})
				+e.item
					+c-e-default({
						title: 'Вызвать скорую',
						class: 'deep-orange darken-3 dark icon waves-effect waves-light',
						icon: 'fa-ambulance'
					})
			+b.c-b-elements-list.col3
				+e.header Наше руководство
				+e.item
					+c-e-specialist({
						photo: "img/specialists/2.jpg",
						title: "Катерина Брусникина",
						description: "Главный врач",
						link: "#",
						class: "white waves-effect waves-default-color"
					})
				+e.item
					+c-e-specialist({
						photo: "img/specialists/1.jpg",
						title: "Евгения Петрова",
						description: "Главный врач",
						link: "#",
						class: "blue waves-effect waves-light dark transparent-bg-18",
						contacts: [
							'+79123456789',
							'evgenia@petrova.ru'
						]
					})
				+e.item
					+c-e-specialist({
						photo: "img/specialists/3.jpg",
						title: "Надежда Иванова",
						description: "Главный врач",
						link: "#",
						class: "white waves-effect waves-default-color"
					})
				+e.item
					+c-e-specialist({
						photo: "img/specialists/4.jpg",
						title: "Елена Сидорова",
						description: "Главный врач",
						link: "#",
						class: "white waves-effect waves-default-color"
					})
				+e.item
					+c-e-specialist({
						photo: "img/specialists/5.jpg",
						title: "Юлия Смирнова",
						description: "Главный врач",
						link: "#",
						class: "white waves-effect waves-default-color"
					})
			+b.c-b-elements-slider.col3
				+e.header Фотоальбом
				+e.carousel
					+e.item
						+c-e-photo-fancybox({
							img: "img/pictures/large/1.jpeg",
							thumb: "img/pictures/thumb/1.jpeg"
						})
					+e.item
						+c-e-photo-fancybox({
							img: "img/pictures/large/2.jpeg",
							thumb: "img/pictures/thumb/2.jpeg"
						})
					+e.item
						+c-e-photo-fancybox({
							img: "img/pictures/large/3.jpeg",
							thumb: "img/pictures/thumb/3.jpeg"
						})
					+e.item
						+c-e-photo-fancybox({
							img: "img/pictures/large/4.jpeg",
							thumb: "img/pictures/thumb/4.jpeg"
						})