extends templates/template-nw

block content
	+b.c-l-main
		+e.wa-wrap.fw

			+b.DIV.c-l-slider-news.mt30
				+e.DIV.wrap
					+e.DIV.slider-wrap
						div(class="yamap" style="background-image: url('img/map.jpg'); background-size: cover; background-position: center; height: 100%")
					+e.DIV.news-wrap
						+c-b-news-list({
							class: ""
						})

			+b.UL.c-b-elements-list.col3.mt30
				+e.LI.item
					+c-e-default({
						title: 'Календарь сдачи отчетов',
						class: 'white icon waves-effect waves-default-color',
						icon: 'far fa-calendar-alt'
					})
				+e.LI.item
					+c-e-default({
						title: 'Министерство зравоохраниения Калининградской области',
						class: 'blue darken-4 dark icon waves-effect waves-light',
						img: "img/logo-kalmed.png"
					})
				+e.LI.item
					+c-e-default({
						title: 'Вызвать скорую',
						class: 'deep-orange darken-3 dark icon waves-effect waves-light',
						icon: 'fa-ambulance'
					})
			
			+b.UL.c-b-elements-list.col3
				+e.header Центры женского здоровья
				+e.LI.item
					+c-e-center({
						photo: "img/pictures/thumb/4.jpeg",
						title: "Название центра",
						address: "Подполковника Иванникова 7",
						phone: "+7 (4012) 67 78 89",
						link: "#",
						class: "white waves-effect waves-default-color"
					})
				+e.LI.item
					+c-e-center({
						photo: "img/pictures/thumb/4.jpeg",
						title: "Название центра",
						address: "Подполковника Иванникова 7",
						phone: "+7 (4012) 67 78 89",
						link: "#",
						class: "white waves-effect waves-default-color"
					})
				+e.LI.item
					+c-e-center({
						photo: "img/pictures/thumb/4.jpeg",
						title: "Название центра",
						address: "Подполковника Иванникова 7",
						phone: "+7 (4012) 67 78 89",
						link: "#",
						class: "white waves-effect waves-default-color"
					})
				+e.LI.item
					+c-e-center({
						photo: "img/pictures/thumb/4.jpeg",
						title: "Название центра",
						address: "Подполковника Иванникова 7",
						phone: "+7 (4012) 67 78 89",
						link: "#",
						class: "white waves-effect waves-default-color"
					})
				+e.LI.item
					+c-e-center({
						photo: "img/pictures/thumb/4.jpeg",
						title: "Название центра",
						address: "Подполковника Иванникова 7",
						phone: "+7 (4012) 67 78 89",
						link: "#",
						class: "white waves-effect waves-default-color"
					})
				+e.LI.item
					+c-e-center({
						photo: "img/pictures/thumb/4.jpeg",
						title: "Название центра",
						address: "Подполковника Иванникова 7",
						phone: "+7 (4012) 67 78 89",
						link: "#",
						class: "white waves-effect waves-default-color"
					})
				+e.LI.item
					+c-e-center({
						photo: "img/pictures/thumb/4.jpeg",
						title: "Название центра",
						address: "Подполковника Иванникова 7",
						phone: "+7 (4012) 67 78 89",
						link: "#",
						class: "white waves-effect waves-default-color"
					})
				+e.LI.item
					+c-e-center({
						photo: "img/pictures/thumb/4.jpeg",
						title: "Название центра",
						address: "Подполковника Иванникова 7",
						phone: "+7 (4012) 67 78 89",
						link: "#",
						class: "white waves-effect waves-default-color"
					})

			+b.c-b-elements-slider.col3
				+e.header Фотоальбом
				+e.UL.carousel
					+e.LI.item
						+c-e-photo-fancybox({
							img: "img/pictures/large/1.jpeg",
							thumb: "img/pictures/thumb/1.jpeg"
						})
					+e.LI.item
						+c-e-photo-fancybox({
							img: "img/pictures/large/2.jpeg",
							thumb: "img/pictures/thumb/2.jpeg"
						})
					+e.LI.item
						+c-e-photo-fancybox({
							img: "img/pictures/large/3.jpeg",
							thumb: "img/pictures/thumb/3.jpeg"
						})
					+e.LI.item
						+c-e-photo-fancybox({
							img: "img/pictures/large/4.jpeg",
							thumb: "img/pictures/thumb/4.jpeg"
						})