extends templates/template-empty-page

block content
  +b.a-l-start-page
    +e.wrap
      .nav-sub__section
        .nav-sub__section-header Страницы
        ul.nav-sub__section-list
          li.nav-sub__section-item.mb15(style="color: #212121") Широкая
            ul.nav-sub__section-list
              li.nav-sub__section-item
                a(href="index-fw.html" target="_blank" class="default-color-link") Главная
              li.nav-sub__section-item
                a(href="inpage-fw.html" target="_blank" class="default-color-link") Внутренняя
              li.nav-sub__section-item
                a(href="inpage-fw-no-sb.html" target="_blank" class="default-color-link") Внутренняя, без сайдбара
              li.nav-sub__section-item
                a(href="search-fw.html" target="_blank" class="default-color-link") Поиск
              li.nav-sub__section-item
                a(href="form-fw.html" target="_blank" class="default-color-link") Форма
          li.nav-sub__section-item.mb15(style="color: #212121") Нормальная
            ul.nav-sub__section-list
              li.nav-sub__section-item
                a(href="index-nw.html" target="_blank" class="default-color-link") Главная
              li.nav-sub__section-item
                a(href="inpage-nw.html" target="_blank" class="default-color-link") Внутренняя
              li.nav-sub__section-item
                a(href="inpage-nw-no-sb.html" target="_blank" class="default-color-link") Внутренняя, без сайдбара
              li.nav-sub__section-item
                a(href="search-nw.html" target="_blank" class="default-color-link") Поиск
              li.nav-sub__section-item
                a(href="form-nw.html" target="_blank" class="default-color-link") Форма
              li.nav-sub__section-item
                a(href="specialists-nw.html" target="_blank" class="default-color-link") Специалисты
              li.nav-sub__section-item
                a(href="specialist-nw.html" target="_blank" class="default-color-link") Специалист
              li.nav-sub__section-item
                a(href="calendar-nw.html" target="_blank" class="default-color-link") Календарь событий
          li.nav-sub__section-item
            a(href="404.html" target="_blank" class="default-color-link") 404