extends templates/template-fw

block content
	+a-b-breadcrumbs()
	+b.c-l-main
		+e.sb-l-wrap
			+a-b-sb-main-nav()
			+c-e-video-fancybox()
		+e.wa-wrap.nw
			+c-b-work-area()
		+e.sb-r-wrap
			+a-b-sb-section-nav()
			+b.c-b-elements-list.col1.mt30
				+e.item
					+c-e-default({
						title: 'Календарь сдачи оXтчетов',
						class: 'white icon waves-effect waves-default-color',
						icon: 'far fa-calendar-alt'
					})
				+e.item
					+c-e-default({
						title: 'Министерство зравоохраниения Калининградской области',
						class: 'blue darken-4 dark icon waves-effect waves-light',
						img: "img/logo-kalmed.png"
					})
				+e.item
					+c-e-default({
						title: 'Вызвать скорую',
						class: 'deep-orange darken-3 dark icon waves-effect waves-light',
						icon: 'fa-ambulance'
					})
			+c-b-news-list({
        class: "hauto"
      })