extends templates/template-nw

block content
	+a-b-breadcrumbs()
	+b.c-l-main
		+e.wa-wrap.nw
			+c-b-work-area()
		+e.sb-r-wrap
			+a-b-sb-section-nav()
			+c-b-news-list({
        class: "hauto"
      })