extends templates/template-fw

block content
	+a-b-breadcrumbs()
	+b.c-l-main
		+e.sb-l-wrap
			+a-b-sb-main-nav()
			+c-e-video-fancybox()
		+e.wa-wrap.fw
			+b.c-b-work-area
				+e.content
					+e.header
						+e.H1.title Поиск
					+a-b-search()