extends templates/template-nw

block content
	+a-b-breadcrumbs()
	+b.c-l-main
		+e.wa-wrap.nw
			+b.c-b-work-area
				+e.content
					+e.header
						+e.H1.title Катерина брусникина
						+e.about Катя молодец
					+b.DIV.c-e-specialist-full.mt15
						+e.body
							+e.photo
								a(href="")
									+e.no-photo
										i.fa.fa-user-md
							+e.description
								p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Коварных большой лучше он сбить дороге там мир гор точках заголовок. Пор моей всемогущая использовало обеспечивает несколько которой дороге ее!
								h6(class="")
									b Образование
								ul.browser-default
									li Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. На берегу заголовок рекламных там вопрос которой он его ведущими, даль единственное! Собрал которое своего бросил знаках силуэт букв коварных проектах?
									li Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. На берегу заголовок рекламных там вопрос которой он его ведущими, даль единственное! Собрал которое своего бросил знаках силуэт букв коварных проектах?
									li Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. На берегу заголовок рекламных там вопрос которой он его ведущими, даль единственное! Собрал которое своего бросил знаках силуэт букв коварных проектах?
									li Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. На берегу заголовок рекламных там вопрос которой он его ведущими, даль единственное! Собрал которое своего бросил знаках силуэт букв коварных проектах?
								h6(class="")
									b Сертификаты
								+b.c-b-elements-list.col3
									+e.item
										+c-e-photo-fancybox({
											img: "img/pictures/large/1.jpeg",
											thumb: "img/pictures/thumb/1.jpeg"
										})
									+e.item
										+c-e-photo-fancybox({
											img: "img/pictures/large/2.jpeg",
											thumb: "img/pictures/thumb/2.jpeg"
										})
									+e.item
										+c-e-photo-fancybox({
											img: "img/pictures/large/3.jpeg",
											thumb: "img/pictures/thumb/3.jpeg"
										})
									+e.item
										+c-e-photo-fancybox({
											img: "img/pictures/large/4.jpeg",
											thumb: "img/pictures/thumb/4.jpeg"
										})
							
					
		+e.sb-r-wrap
			+a-b-sb-section-nav()
			+c-b-news-list({
        class: "hauto"
      })