extends templates/template-nw

block content
	+a-b-breadcrumbs()
	+b.c-l-main
		+e.wa-wrap.nw
			+b.c-b-work-area
				+e.content
					+e.header
						+e.H1.title Медработники
					//- p Информация, поступившая через форму "Задай вопрос врачу", рассматривается соответствующим органом государственной власти или соответствующими государственными учреждениями и иными организациями, на которые возложено осуществление публично значимых функций, в порядке, определенном Федеральным законом от 02.05.2006 № 59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации» в течение 30 календарных дней.
					ul(class="c-b-elements-list col1")
						li(class="c-b-elements-list__item mb15")
							+c-e-specialist-full()
						li(class="c-b-elements-list__item mb15")
							+b.DIV.c-e-specialist-full
								+e.body
									+e.photo
										a(href="")
											+e.no-photo
												i.fa.fa-user-md
									+e.description
										+e.name
											a(href="#") Катерина Брусникина
										+e.about Катя, которая не любила фотографироваться
							
					
		+e.sb-r-wrap
			+a-b-sb-section-nav()
			+c-b-news-list({
        class: "hauto"
      })