.c-l-component
  width: 100%
  padding-top: 30px

.page-wrap.fw .c-l-component__wrap
  +row()
  padding: 0px 15px

.page-wrap.nw .c-l-component__wrap
  +container()

body.black-on-white
  .c-l-component
    background: #fff !important
    box-shadow: none
    border-top: 1px solid #212121

body.white-on-black
  .c-l-component
    background: #616161 !important
    box-shadow: none
    border-top: 1px solid #fff

body.blue-on-azure
  .c-l-component
    background: lighten($blue, 35%) !important
    box-shadow: none
    border-top: 1px solid $dark-blue

body.brown-on-beige
  .c-l-component
    background: darken($beige, 5%) !important
    box-shadow: none
    border-top: 1px solid $brown

body.green-on-brown
  .c-l-component
    background: lighten($brown, 30%) !important
    box-shadow: none
    border-top: 1px solid $green
