.a-b-date-day
  font-size: .8em
  color: #616161
.a-b-date-day i
  margin-right: 5px
  color: $default-color

body.black-on-white
  .a-b-date-day i
    color: #212121

body.white-on-black
  .a-b-date-day, .a-b-date-day i 
    color: #fff

body.blue-on-azure
  .a-b-date-day, .a-b-date-day i 
    color: $dark-blue

body.brown-on-beige
  .a-b-date-day, .a-b-date-day i 
    color: $brown

body.green-on-brown
  .a-b-date-day, .a-b-date-day i 
    color: $green