.c-e-default
  transition: all .3s ease
  box-shadow: $z-depth-1
  border-radius: 2px
  width: 100%
  color: $default-color
.c-e-default a, .c-e-default
  @extend .default-color-link
  text-decoration: none
.c-e-default:hover
  box-shadow: $z-depth-2
.c-e-default__body
  height: 100%
  width: 100%
  border-radius: 2px
  padding: 25px 30px
  @extend .default-color-link
  position: relative
  min-height: 116px

  

.c-e-default.dark .c-e-default__body
  color: #fff


.c-e-default.icon .c-e-default__title
  padding-right: 60px
.c-e-default.icon .c-e-default__icon
  font-size: 50px
  position: absolute
  top: 50%
  right: 30px
  margin-top: -37.5px
.c-e-default.icon .c-e-default__img
  position: absolute
  top: 50%
  right: 30px
  height: 60px
  margin-top: -30px

.c-e-default.default-color-light
.c-e-default.default-color-light .c-e-default__body
  background-color: transparentize($default-color, .9)
  box-shadow: $z-depth-1
  @extend .default-color-link
.c-e-default.default-color-light .c-e-default:hover
  box-shadow: $z-depth-2
  background-color: #fff

body.black-on-white
  .c-e-default
    background-color: #fff !important
    border: 1px solid #212121
  .c-e-default__body
    background-color: #fff !important
  .c-e-default__title
    color: #212121
  .c-e-default__icon i
    color: #212121
  img.c-e-default__img
    filter: grayscale(100%) !important
    z-index: 0

body.white-on-black
  .c-e-default
    background-color: #212121 !important
    border: 1px solid #fff
  .c-e-default__body
    background-color: #212121 !important
  .c-e-default__title
    color: #fff
  .c-e-default__icon i
    color: #fff
  img.c-e-default__img
    filter: grayscale(100%) !important
    z-index: 0

body.brown-on-beige
  .c-e-default
    background-color: $beige !important
    border: 1px solid $brown
  .c-e-default__body
    background-color: $beige !important
  .c-e-default__title
    color: $brown
  .c-e-default__icon i
    color: $brown
  img.c-e-default__img
    filter: grayscale(100%) !important
    z-index: 0

body.blue-on-azure
  .c-e-default
    background-color: $azure !important
    border: 1px solid $dark-blue
  .c-e-default__body
    background-color: $azure !important
  .c-e-default__title
    color: $dark-blue
  .c-e-default__icon i
    color: $dark-blue
  img.c-e-default__img
    filter: grayscale(100%) !important
    z-index: 0

body.green-on-brown
  .c-e-default
    background-color: $brown !important
    border: 1px solid $green
  .c-e-default__body
    background-color: $brown !important
  .c-e-default__title
    color: $green
  .c-e-default__icon i
    color: $green
  img.c-e-default__img
    filter: grayscale(100%) !important
    z-index: 0