mixin c-e-default(data)
  +b.DIV.c-e-default(class=data.class)
    a(href='#')
      +e.body
        +e.title= data.title
        if data.img
          +e.img(src=data.img)
        if data.icon
          +e.icon
            i.fa(class=data.icon)