.slide-photo
  transition: all .3s ease
  border-radius: 2px
  width: 100%
  background-color: #fff
.slide-photo:hover

.slide-photo__photo
  width: 100%
  img
    border-radius: 2px
    width: 100%

.c-b-slider.normal .slide-photo__description
  padding: 25px 30px

body.black-on-white
  .slide-photo__photo img
    filter: grayscale(100%)

body.white-on-black
  .slide-photo__photo img
    filter: grayscale(100%)

body.blue-on-azure
  .slide-photo__photo img
    filter: grayscale(100%)

body.brown-on-beige
  .slide-photo__photo img
    filter: grayscale(100%)

body.green-on-brown
  .slide-photo__photo img
    filter: grayscale(100%)
