.slide-photo-description
  transition: all .3s ease
  border-radius: 2px
  width: 100%
  background-color: #fff
.slide-photo-description:hover

.slide-photo-description__photo
  width: 100%
  img
    border-radius: 2px 2px 0px 0px
    width: 100%

.slide-photo-description__description
  padding: 25px 30px 0px
  border-radius: 0px 0px 2px 2px
.slide-photo-description__title
  color: $default-color
.slide-photo-description__date
  margin-bottom: 5px

.c-b-slider.normal .slide-photo-description__description
  padding: 25px 30px

body.black-on-white
  .slide-photo-description__photo img
    filter: grayscale(100%)
  .slide-photo-description__title
    color: #212121

body.white-on-black
  .slide-photo-description__photo img
    filter: grayscale(100%)
  .slide-photo-description__title
    color: #fff
  .slide-photo-description__description
    background-color: #212121

body.blue-on-azure
  .slide-photo-description__photo img
    filter: grayscale(100%)
  .slide-photo-description__title
    color: $dark-blue
  .slide-photo-description__description
    background-color: $azure

body.brown-on-beige
  .slide-photo-description__photo img
    filter: grayscale(100%)
  .slide-photo-description__title
    color: $brown
  .slide-photo-description__description
    background-color: $beige

body.green-on-brown
  .slide-photo-description__photo img
    filter: grayscale(100%)
  .slide-photo-description__title
    color: $green
  .slide-photo-description__description
    background-color: $brown
