mixin slide-photo-description(data)
  +b.DIV.slide-photo-description
    +e.photo 
      img(src=data.img)
    a(href="#")
      +e.description
        +e.date 
          +a-b-date-day()
        +e.title= data.title