mixin a-b-breadcrumbs
  +b.a-b-breadcrumbs
    +e.wrapper
      div
        a(href="#!" class="") Главная
        i.fa.fa-angle-right
        a(href="#!" class="") Второстепенная
        i.fa.fa-angle-right
        span Текущая