.a-b-breadcrumbs
  background-color: $white
  // height: 36px
  line-height: 36px
  box-shadow: $z-depth-1
  i
    height: 36px
    line-height: 36px
    font-size: 14px
  a
    color: $default-color
    font-size: 14px
    &:hover
      color: $blue
  i
    color: $gray
    margin-left: 10px
    margin-right: 10px
  span
    color: $gray
    font-size: 14px
    line-height: 36px

.page-wrap.fw .a-b-breadcrumbs__wrapper
  +row()
  padding: 0px 15px
.page-wrap.nw .a-b-breadcrumbs__wrapper
  +container()

body.black-on-white
  .a-b-breadcrumbs
    border-top: 1px solid #212121
    border-bottom: 1px solid #212121
    background-color: #fff
  .a-b-breadcrumbs a
    color: #212121

body.white-on-black
  .a-b-breadcrumbs
    border-top: 1px solid #fff
    border-bottom: 1px solid #fff
    background-color: #212121
  .a-b-breadcrumbs a
    color: #fff

body.blue-on-azure
  .a-b-breadcrumbs
    border-top: 1px solid $dark-blue
    border-bottom: 1px solid $dark-blue
    background-color: $azure
  .a-b-breadcrumbs a
    color: $dark-blue

body.brown-on-beige
  .a-b-breadcrumbs
    border-top: 1px solid $brown
    border-bottom: 1px solid $brown
    background-color: $beige
  .a-b-breadcrumbs a
    color: $brown

body.green-on-brown
  .a-b-breadcrumbs
    border-top: 1px solid $green
    border-bottom: 1px solid $green
    background-color: $brown
  .a-b-breadcrumbs a
    color: $green