.a-b-global-search
  text-align: left
  font-size: 0px
  padding-right: 73px
  position: relative
  width: 100%
.a-b-global-search__input
  border-right: none
  vertical-align: middle
  font-size: 14px
  border-radius: 2px 0px 0px 2px
  width: 100%
  &:focus, &:active, &:hover
    border-right: none
.a-b-global-search__button
  border: none
  background-color: $default-color
  border-radius: 0px 2px 2px 0px
  height: 36px
  padding: 0px 30px
  position: absolute
  top: 0px
  right: 0px
  i
    font-size: 14px
    color: #fafafa

body.black-on-white
  .a-b-global-search__button
    background-color: #212121

body.white-on-black
  .a-b-global-search__button
    background-color: #ffffff
    i
      color: #212121

body.blue-on-azure
  .a-b-global-search__button
    background-color: $dark-blue
    i
      color: $azure

body.brown-on-beige
  .a-b-global-search__button
    background-color: $brown
    i
      color: $beige

body.green-on-brown
  .a-b-global-search__button
    background-color: $green
    i
      color: $brown