mixin a-b-global-search()
  +b.DIV.a-b-global-search
    form
      +e.BUTTON.button(class="waves-effect waves-light")
        i.fa.fa-search
      +e.INPUT.input(type="text" placeholder="Поиск" class="browser-default input-default")