.a-b-logo-min
  display: flex
.a-b-logo-min__img
  height: 40px
  display: inline-block
  margin-right: 14px
  img
    height: 40px
.a-b-logo-min__text
  margin: auto 0px
  display: inline-block
  text-transform: uppercase
  color: $default-color

body.black-on-white
  .a-b-logo-min__img img
    filter: grayscale(100%)
  .a-b-logo-min__text
    color: #212121

body.white-on-black
  .a-b-logo-min__img img
    filter: grayscale(100%)
  .a-b-logo-min__text
    color: #fff

body.blue-on-azure
  .a-b-logo-min__img img
    filter: grayscale(100%)
  .a-b-logo-min__text
    color: $dark-blue

body.brown-on-beige
  .a-b-logo-min__img img
    filter: grayscale(100%)
  .a-b-logo-min__text
    color: $brown

body.green-on-brown
  .a-b-logo-min__img img
    filter: grayscale(100%)
  .a-b-logo-min__text
    color: $green