.a-b-phone-main
  text-align: right
  width: 100%
  margin: auto 0px
  a
    @extend .default-color-link
  @media #{$_sm}
    text-align: left
    margin-top: 5px
    margin-bottom: 5px
.a-b-phone-main__phone
  font-size: 1.5em
.a-b-phone-main__text
  color: #616161

body.black-on-white
  .a-b-phone-main__phone a
    color: #212121
  .a-b-phone-main__text
    color: #212121

body.white-on-black
  .a-b-phone-main__phone a
    color: #fff
  .a-b-phone-main__text
    color: #fff

body.blue-on-azure
  .a-b-phone-main__phone a
    color: $dark-blue
  .a-b-phone-main__text
    color: $dark-blue

body.brown-on-beige
  .a-b-phone-main__phone a
    color: $brown
  .a-b-phone-main__text
    color: $brown

body.green-on-brown
  .a-b-phone-main__phone a
    color: $green
  .a-b-phone-main__text
    color: $green

