.c-b-work-area
  background-color: #fff
  box-shadow: $z-depth-1
  border-radius: 2px
  margin-bottom: 30px
.c-b-work-area__img
  img
    width: 100%
    border-radius: 2px 2px 0px 0px
.c-b-work-area__content
  padding: 25px 30px
  img
    max-width: 100%
    height: auto
.c-b-work-area__header
  border-bottom: 1px solid #eee
  padding-bottom: 15px
.c-b-work-area__about
  color: #616161
.c-b-work-area__title
  color: $default-color
  font-size: 1.2em
  margin: 0px
.c-b-work-area__date
  margin-bottom: 5px

.c-b-work-area .c-b-work-area__content a
  @extend .default-color-link
  text-decoration: underline

.c-b-work-area .btn-flat
  color: #ffffff !important
  text-decoration: none !important
.c-b-work-area .btn-flat:hover
  color: #ffffff

body.black-on-white
  .c-b-work-area__img img
    filter: grayscale(100%)
  .c-b-work-area__content img
    filter: grayscale(100%)
  .c-b-work-area__title
    color: #212121

body.white-on-black
  .c-b-work-area__img img
    filter: grayscale(100%)
  .c-b-work-area__content img
    filter: grayscale(100%)
  .c-b-work-area__title
    color: #fff
  .c-b-work-area__about
    color: #fff
  .c-b-work-area
    background-color: #212121
    color: #fff !important

body.blue-on-azure
  .c-b-work-area__img img
    filter: grayscale(100%)
  .c-b-work-area__content img
    filter: grayscale(100%)
  .c-b-work-area__title
    color: $dark-blue
  .c-b-work-area
    background-color: $azure
    color: $dark-blue

body.brown-on-beige
  .c-b-work-area__img img
    filter: grayscale(100%)
  .c-b-work-area__content img
    filter: grayscale(100%)
  .c-b-work-area__header
    border-bottom: 1px solid $brown
  .c-b-work-area__title
    color: $brown
  .c-b-work-area__about
    color: $brown
  .c-b-work-area
    background-color: $beige
    color: $brown

body.green-on-brown
  .c-b-work-area__img img
    filter: grayscale(100%)
  .c-b-work-area__content img
    filter: grayscale(100%)
  .c-b-work-area__title
    color: $green
  .c-b-work-area__about
    color: $green
  .c-b-work-area
    background-color: $brown
    color: $green