mixin c-b-work-area()
  +b.c-b-work-area
    +e.img
      img(src="img/slider/img-1.jpg", alt="")
    +e.content
      +e.header
        +e.date 
          +a-b-date-day()
        +e.H1.title Заголовок текущей страницы

      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Предложения образ гор единственное, всеми безопасную алфавит, сих решила необходимыми продолжил дорогу возвращайся свой своих! За силуэт буквоград вершину ipsum?
      img(src="img/slider/img-1.jpg", alt="")
      p Далеко-далеко за 
        a(href="https://ya.ru/" target="_blank") словесными горами
        |  в стране гласных и согласных живут рыбные тексты. Предложения образ гор единственное, всеми безопасную алфавит, сих решила необходимыми продолжил дорогу возвращайся свой своих! За силуэт буквоград вершину ipsum?
      p Далеко-далеко за 
        a(href="https://mail.ru/" target="_blank") словесными горами
        |  в стране гласных и согласных живут рыбные тексты. Предложения образ гор единственное, всеми безопасную алфавит, сих решила необходимыми продолжил дорогу возвращайся свой своих! За силуэт буквоград вершину ipsum?
      p Далеко-далеко за сл11овесными горами в стране гласных и согласных живут рыбные тексты. Предложения образ гор единственное, всеми безопасную алфавит, сих решила необходимыми продолжил дорогу возвращайся свой своих! За силуэт буквоград вершину ipsum?
      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Предложения образ гор единственное, всеми безопасную алфавит, сих решила необходимыми продолжил дорогу возвращайся свой своих! За силуэт буквоград вершину ipsum?
      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Предложения образ гор единственное, всеми безопасную алфавит, сих решила необходимыми продолжил дорогу возвращайся свой своих! За силуэт буквоград вершину ipsum?
      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Предложения образ гор единственное, всеми безопасную алфавит, сих решила необходимыми продолжил дорогу возвращайся свой своих! За силуэт буквоград вершину ipsum?
      
      +c-b-services-list()

      +c-b-tabs()

      +b.c-b-elements-list.col1
        +e.item.mb15
          +c-e-news-photo-description()
        +e.item.mb15
          +b.c-e-news-photo-description
            +e.date 
              +a-b-date-day()
            +e.description
              +e.title 
                a(href="#") На развитие здравоохранения региону выделено более девяноста одного миллиона рублей из федерального бюджета.
              +e.about Средства будут направлены на приобретение передвижных медицинских комплексов для работы на селе и переоснащение детских поликлиник.
        +e.item.mb15
          +c-e-news-photo-description()


      +b.c-b-elements-list.mt30.col3
        +e.item
          +c-e-photo-fancybox({
            img: "img/pictures/large/1.jpeg",
            thumb: "img/pictures/thumb/1.jpeg"
          })
        +e.item
          +c-e-photo-fancybox({
            img: "img/pictures/large/2.jpeg",
            thumb: "img/pictures/thumb/2.jpeg"
          })
        +e.item
          +c-e-photo-fancybox({
            img: "img/pictures/large/3.jpeg",
            thumb: "img/pictures/thumb/3.jpeg"
          })
        +e.item
          +c-e-photo-fancybox({
            img: "img/pictures/large/4.jpeg",
            thumb: "img/pictures/thumb/4.jpeg"
          })
      
      +c-b-table-alt()
      