.a-b-sb-main-nav
  margin-top: 0px
  margin-bottom: 30px
  box-shadow: $z-depth-1
  background-color: #fff
  border-radius: 2px
  position: relative
.a-b-sb-main-nav__header
  padding: 25px 30px 15px
  text-transform: uppercase
  color: #616161
  font-size: .8em
.a-b-sb-main-nav__item-a
  width: 100%
  padding: 15px 30px
  color: #212121
  border-top: 1px solid #eee
.a-b-sb-main-nav__item-a.active
  color: $default-color
  background-color: #eee
.a-b-sb-main-nav__item-a i
  float: right
  line-height: 23px
.nav-sub
  position: absolute
  top: 0px
  background-color: #fff
  border-radius: 2px
  box-shadow: $z-depth-5
  padding: 15px 0px 0px !important
  z-index: 2
  animation-duration: .4s
  display: none
  opacity: 1 !important
.nav-sub.is-open

.nav-sub__wrap
  display: flex
  flex-wrap: wrap
  padding: 15px
.nav-sub__header
  width: 100%
  padding: 15px 30px
  text-transform: uppercase
  color: $default-color
  background-color: #eee
  font-size: .8em
  i
    margin-right: 5px
.nav-sub__close
  float: right
  cursor: pointer
.nav-sub__section
  padding: 0px 15px 30px
  width: 33.3333%
.nav-sub__section-header
  margin-bottom: 10px
  padding-bottom: 10px
  border-bottom: 1px solid #eee
.nav-sub__section-list
  list-style: disc !important
  padding-left: 25px !important
  color: $default-color
.nav-sub__section-item
  list-style: disc !important
.nav-sub__section-item .nav-sub__section-list
  list-style: circle !important
  padding-left: 18px !important
.nav-sub__section-item .nav-sub__section-list .nav-sub__section-item
  list-style: circle !important


body.black-on-white
  .a-b-sb-main-nav__header
    color: #212121
  .a-b-sb-main-nav__item-a.active
    color: #212121
  .nav-sub .default-color-link
    color: #212121
  .nav-sub__close i
    color: #212121

body.white-on-black
  .a-b-sb-main-nav
    background-color: #212121
  .a-b-sb-main-nav__header
    color: #fff
  .a-b-sb-main-nav__item-a
    color: #fff
  .a-b-sb-main-nav__item-a.active
    color: #fff
    background-color: #616161
  .nav-sub
    background-color: #212121
  .nav-sub__header
    background-color: #616161
  .nav-sub__section-list
    color: #fff
  .nav-sub .default-color-link
    color: #fff
  .nav-sub__close i
    color: #fff

body.blue-on-azure
  .a-b-sb-main-nav
    background-color: $azure
  .a-b-sb-main-nav__header
    color: $dark-blue
  .a-b-sb-main-nav__item-a
    color: $dark-blue
    border-top: 1px solid $dark-blue
  .a-b-sb-main-nav__item-a.active
    color: $dark-blue
    background-color: lighten($blue, 35%)
  .nav-sub
    background-color: $azure
  .nav-sub__header
    background-color: lighten($blue, 35%)
  .nav-sub__section-list
    color: $dark-blue
  .nav-sub .default-color-link
    color: $dark-blue
  .nav-sub__close i
    color: $dark-blue

body.brown-on-beige
  .a-b-sb-main-nav
    background-color: $beige
  .a-b-sb-main-nav__header
    color: $brown
  .a-b-sb-main-nav__item-a
    color: $brown
    border-top: 1px solid $brown
  .a-b-sb-main-nav__item-a.active
    color: $brown
    background-color: lighten($brown, 60%)
  .nav-sub
    background-color: $beige
  .nav-sub__header
    background-color: lighten($brown, 60%)
  .nav-sub__section-header
    border-bottom: 1px solid $brown
  .nav-sub__section-list
    color: $brown
  .nav-sub .default-color-link
    color: $brown
  .nav-sub__close i
    color: $brown

body.green-on-brown
  .a-b-sb-main-nav
    background-color: $brown
  .a-b-sb-main-nav__header
    color: $green
  .a-b-sb-main-nav__item-a
    color: $green
    border-top: 1px solid $green
  .a-b-sb-main-nav__item-a.active
    color: $green
    background-color: lighten($brown, 20%)
  .nav-sub
    background-color: $brown
  .nav-sub__header
    background-color: lighten($brown, 30%)
  .nav-sub__section-list
    color: $green
  .nav-sub .default-color-link
    color: $green
  .nav-sub__close i
    color: $green
