mixin a-b-sb-main-nav()
  +b.UL.a-b-sb-main-nav
    +e.DIV.header Навигация по сайту
    +e.LI.item
      +e.A.item-a(href="#" class="waves-effect waves-default-color") Главная
    +e.LI.item
      +e.A.item-a(href="#" class="waves-effect waves-default-color active") Новости
    +e.LI.item
      +e.A.item-a(href="#" class="waves-effect waves-default-color") РС ЕГИСЗ
    +e.LI.item
      +e.SPAN.item-a(class="waves-effect waves-default-color open-nav-sub") Аттестация
        i.fa.fa-caret-right
      +b.nav-sub
        +e.header
          a.default-color-link(href="")
            i.fa.fa-share
            | Аттестация
          +e.SPAN.close
            i.fas.fa-times-circle
        +e.wrap
          +e.section
            +e.section-header
              a.default-color-link(href="#") Подраздел
            +e.UL.section-list
              +e.LI.section-item
                a(href="#" class="default-color-link") Статистика
              +e.LI.section-item
                a(href="#" class="default-color-link") Защита информации
              +e.LI.section-item
                a(href="#" class="default-color-link") Удостоверяющий центр
              +e.LI.section-item
                a(href="#" class="default-color-link") Обратная связь
              +e.LI.section-item
                a(href="#" class="default-color-link") Далеко-далеко за словесными
          +e.section
            +e.section-header
              a.default-color-link(href="#") Человеческая рождаемость
            +e.UL.section-list
              +e.LI.section-item
                a(href="#" class="default-color-link") Главная
              +e.LI.section-item
                a(href="#" class="default-color-link") Новости
              +e.LI.section-item
                a(href="#" class="default-color-link") РС ЕГИСЗ
              +e.LI.section-item
                a(href="#" class="default-color-link") Аттестация
              +e.LI.section-item
                a(href="#" class="default-color-link") Обратная связь
          +e.section
            +e.section-header
              a.default-color-link(href="#") Почему врачи - врачи
            +e.UL.section-list
              +e.LI.section-item
                a(href="#" class="default-color-link") Далеко-далеко за словесными
              +e.LI.section-item
                a(href="#" class="default-color-link") Аттестация
              +e.LI.section-item
                a(href="#" class="default-color-link") Обратная связь
          +e.section
            +e.section-header
              a.default-color-link(href="#") Как сдают анализы
            +e.UL.section-list
              +e.LI.section-item
                a(href="#" class="default-color-link") Статистика
              +e.LI.section-item
                a(href="#" class="default-color-link") Защита информации
              +e.LI.section-item
                a(href="#" class="default-color-link") Удостоверяющий центр
              +e.LI.section-item
                a(href="#" class="default-color-link") Обратная связь
              +e.LI.section-item
                a(href="#" class="default-color-link") Далеко-далеко за словесными
              +e.LI.section-item
                a(href="#" class="default-color-link") Аттестация
              +e.LI.section-item
                a(href="#" class="default-color-link") Обратная связь
          +e.section
            +e.section-header
              a.default-color-link(href="#") Подраздел
            +e.UL.section-list
              +e.LI.section-item
                a(href="#" class="default-color-link") Статистика
              +e.LI.section-item
                a(href="#" class="default-color-link") Защита информации
                +e.UL.section-list
                  +e.LI.section-item
                    a(href="#" class="default-color-link") Статистика
                  +e.LI.section-item
                    a(href="#" class="default-color-link") Защита информации
                  +e.LI.section-item
                    a(href="#" class="default-color-link") Удостоверяющий центр
              +e.LI.section-item
                a(href="#" class="default-color-link") Удостоверяющий центр
              +e.LI.section-item
                a(href="#" class="default-color-link") Обратная связь
              +e.LI.section-item
                a(href="#" class="default-color-link") Далеко-далеко за словесными
          +e.section
            +e.section-header
              a.default-color-link(href="#") Человеческая рождаемость
            +e.UL.section-list
              +e.LI.section-item
                a(href="#" class="default-color-link") Главная
              +e.LI.section-item
                a(href="#" class="default-color-link") Новости
              +e.LI.section-item
                a(href="#" class="default-color-link") РС ЕГИСЗ
              +e.LI.section-item
                a(href="#" class="default-color-link") Аттестация
              +e.LI.section-item
                a(href="#" class="default-color-link") Обратная связь
    +e.LI.item
      +e.A.item-a(href="#" class="waves-effect waves-default-color") Статистика
    +e.LI.item
      +e.SPAN.item-a(class="waves-effect waves-default-color open-nav-sub") Защита информации
        i.fa.fa-caret-right
      +b.nav-sub
        +e.header
          a.default-color-link(href="")
            i.fa.fa-share
            | Защита информации
          +e.SPAN.close
            i.fas.fa-times-circle
        +e.wrap
          +e.section
            +e.section-header
              a.default-color-link(href="#") Как сдают анализы
            +e.UL.section-list
              +e.LI.section-item
                a(href="#" class="default-color-link") Статистика
              +e.LI.section-item
                a(href="#" class="default-color-link") Защита информации
              +e.LI.section-item
                a(href="#" class="default-color-link") Удостоверяющий центр
                +e.UL.section-list
                  +e.LI.section-item
                    a(href="#" class="default-color-link") Статистика
                  +e.LI.section-item
                    a(href="#" class="default-color-link") Защита информации
                  +e.LI.section-item
                    a(href="#" class="default-color-link") Удостоверяющий центр
              +e.LI.section-item
                a(href="#" class="default-color-link") Обратная связь
              +e.LI.section-item
                a(href="#" class="default-color-link") Далеко-далеко за словесными
              +e.LI.section-item
                a(href="#" class="default-color-link") Аттестация
              +e.LI.section-item
                a(href="#" class="default-color-link") Обратная связь
          +e.section
            +e.section-header
              a.default-color-link(href="#") Подраздел
            +e.UL.section-list
              +e.LI.section-item
                a(href="#" class="default-color-link") Статистика
              +e.LI.section-item
                a(href="#" class="default-color-link") Защита информации
              +e.LI.section-item
                a(href="#" class="default-color-link") Удостоверяющий центр
              +e.LI.section-item
                a(href="#" class="default-color-link") Обратная связь
              +e.LI.section-item
                a(href="#" class="default-color-link") Далеко-далеко за словесными
          +e.section
            +e.section-header
              a.default-color-link(href="#") Человеческая рождаемость
            +e.UL.section-list
              +e.LI.section-item
                a(href="#" class="default-color-link") Главная
              +e.LI.section-item
                a(href="#" class="default-color-link") Новости
              +e.LI.section-item
                a(href="#" class="default-color-link") РС ЕГИСЗ
              +e.LI.section-item
                a(href="#" class="default-color-link") Аттестация
              +e.LI.section-item
                a(href="#" class="default-color-link") Обратная связь
    +e.LI.item
      +e.A.item-a(href="#" class="waves-effect waves-default-color") Удостоверяющий центр
    +e.LI.item
      +e.A.item-a(href="#" class="waves-effect waves-default-color") Обратная связь