mixin a-b-logo-main()
  a(href="#")
    +b.DIV.a-b-logo-main
      +e.DIV.img
        +e.IMG.tag(src="img/logo-alt.jpg")
      +e.DIV.text
        | Медицинский информационно-аналитический
        br
        | центр Калининградской области