.a-b-logo-main
  height: 100%
  display: flex

.a-b-logo-main__img
  display: inline-block
  width: 75px
  img
    width: 100%

.a-b-logo-main__text
  display: inline-block
  padding-left: 10px
  text-transform: uppercase
  color: $default-color
  font-weight: 500
  margin: auto 0px

body.black-on-white
  .a-b-logo-main__text
    color: #212121
  .a-b-logo-main__img
    filter: grayscale(100%)

body.white-on-black
  .a-b-logo-main__text
    color: #ffffff
  .a-b-logo-main__img
    filter: grayscale(100%)

body.blue-on-azure
  .a-b-logo-main__text
    color: $dark-blue
  .a-b-logo-main__img
    filter: grayscale(100%)

body.brown-on-beige
  .a-b-logo-main__text
    color: $brown
  .a-b-logo-main__img
    filter: grayscale(100%)

body.green-on-brown
  .a-b-logo-main__text
    color: $green
  .a-b-logo-main__img
    filter: grayscale(100%)