mixin c-e-specialist(data)
  +b.DIV.c-e-specialist(class=data.class)
    a(href='#')
      +e.body
        +e.top
          +e.photo
            img(src=data.photo)
        +e.title= data.title
        +e.description= data.description
        if data.contacts
          +e.contacts
            each contact in data.contacts
              +e.contact= contact