.c-e-specialist
  transition: all .3s ease
  box-shadow: $z-depth-1
  border-radius: 2px
  height: 100%
  width: 100%
  color: $default-color
.c-e-specialist a
  @extend .default-color-link
  text-decoration: none
.c-e-specialist:hover
  box-shadow: $z-depth-2
.c-e-specialist__body
  min-height: 116px
  width: 100%
  border-radius: 2px
  padding: 25px 30px
  @extend .default-color-link
  position: relative
.c-e-specialist__top
  display: flex
  justify-content: space-between
.c-e-specialist__photo
  margin-bottom: 15px
  img
    border-radius: 50%
    width: 120px
.c-e-specialist__contacts
  margin: auto 0px
  font-size: 0.8em
.c-e-specialist__contact
.c-e-specialist__description
  color: #616161



.c-e-specialist.dark
  .c-e-specialist__body
    color: #fff
  .c-e-specialist__description
    color: #fff


.widget-default.default-color-light
.widget-default.default-color-light .widget-default__body
  background-color: transparentize($default-color, .9)
  box-shadow: $z-depth-1
  @extend .default-color-link
.widget-default.default-color-light .widget-default:hover
  box-shadow: $z-depth-2
  background-color: #fff


body.black-on-white
  .c-e-specialist
    border: 1px solid #212121
    background-color: #fff !important
    background-image: none !important
  .c-e-specialist__body
    color: #212121 !important
  .c-e-specialist__title,.c-e-specialist__description
    color: #212121 !important
  .c-e-specialist__photo img
    filter: grayscale(100%)

body.white-on-black
  .c-e-specialist
    border: 1px solid #fff
    background-color: #212121 !important
    background-image: none !important
  .c-e-specialist__body
    color: #fff !important
  .c-e-specialist__title,.c-e-specialist__description
    color: #fff !important
  .c-e-specialist__photo img
    filter: grayscale(100%)

body.blue-on-azure
  .c-e-specialist
    border: 1px solid $dark-blue
    background-color: $azure !important
    background-image: none !important
  .c-e-specialist__body
    color: $dark-blue !important
  .c-e-specialist__title,.c-e-specialist__description
    color: $dark-blue !important
  .c-e-specialist__photo img
    filter: grayscale(100%)

body.brown-on-beige
  .c-e-specialist
    border: 1px solid $brown
    background-color: $beige !important
    background-image: none !important
  .c-e-specialist__body
    color: $brown !important
  .c-e-specialist__title,.c-e-specialist__description
    color: $brown !important
  .c-e-specialist__photo img
    filter: grayscale(100%)

body.green-on-brown
  .c-e-specialist
    border: 1px solid $green
    background-color: $brown !important
    background-image: none !important
  .c-e-specialist__body
    color: $green !important
  .c-e-specialist__title,.c-e-specialist__description
    color: $green !important
  .c-e-specialist__photo img
    filter: grayscale(100%)