.a-l-logo-phone
  padding-top: 20px
  padding-bottom: 13px
  border-bottom: 1px solid #e0e0e0
  background-color: #fff

.a-l-logo-phone__left-container
  +col(6)
  @media #{$_lg}
    +col(7)
  @media #{$_sm}
    width: auto

.a-l-logo-phone__right-container
  +col(6)
  display: flex
  .phone_main
    margin: auto 0px
  @media #{$_lg}
    +col(5)
  @media #{$_sm}
    width: 100%

.a-l-logo-phone.dark
  .logo_main__text
    color: #fff
  .default-color-link
    color: #fff
  .phone_main__text
    color: #fff

.page-wrap.fw .a-l-logo-phone__wrap
  +row()
  padding: 0px 15px
  margin: 0px auto

.page-wrap.nw .a-l-logo-phone__wrap
  +container()

body.black-on-white
  .a-l-logo-phone
    border-bottom: 1px solid #212121

body.white-on-black
  .a-l-logo-phone
    border-bottom: 1px solid #fff
    background-color: #212121

body.blue-on-azure
  .a-l-logo-phone
    border-bottom: 1px solid $blue
    background-color: $azure

body.brown-on-beige
  .a-l-logo-phone
    border-bottom: 1px solid $brown
    background-color: $beige

body.green-on-brown
  .a-l-logo-phone
    border-bottom: 1px solid $green
    background-color: $brown