mixin a-b-head(data)
	title= data.title
	meta(charset="utf-8")
	
	meta(content=data.author name="author")
	meta(content=data.description name="description")
	
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(name="HandheldFriendly" content="true")
	meta(name="format-detection", content="telephone=no")
	meta(content="IE=edge" http-equiv="X-UA-Compatible")
	

	// build:css css/vendor.css
	link(rel="stylesheet", href="libs/font-awesome/css/fontawesome-all.min.css")
	link(rel="stylesheet", href="libs/slick/slick.css")
	link(rel="stylesheet", href="libs/animate/animate.css")
	link(rel="stylesheet", href="libs/slick/slick-theme.css")
	link(rel="stylesheet", href="libs/materialize/css/materialize.min.css")
	link(rel="stylesheet", href="libs/stacktable/stacktable.css")
	link(rel="stylesheet", href="libs/materialicons/materialicons.css")
	link(rel="stylesheet", href="libs/fancybox/fancybox.min.css")
	// endbuild
	
	// build:css css/main.css
	link(rel="stylesheet", href="css/main.css")
	// endbuild
