mixin c-b-slider()
  +b.DIV.c-b-slider
    +e.item
      +slide-photo-description({
        "img": "img/slider/img-1.jpg",
        "title": "Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.",
        "date": "14 июня 2017"
      })
    +e.item
      +slide-photo-description({
        "img": "img/slider/img-2.jpg",
        "title": "Второй слайд",
        "date": "14 июня 2017"
      })