.c-b-slider
  margin-top: 0px
  margin-bottom: 0px
  width: 100%
  position: relative
  border-radius: 2px
  transition: all .3s ease
  box-shadow: $z-depth-1
  background-color: #fff
  height: 100%
.c-b-slider__item
  &:focus, &:active
    outline: 0
    outline-offset: 0
  
.c-b-slider
  .slick-dots
    position: absolute
    bottom: 4px
    top: auto
    opacity: 0
    @media #{$_xs}
      opacity: 1
    transition: opacity .3s ease
  .slick-dots li.slick-active button:before
    color: $default-color
  .slick-dots li button:before
    color: #bdbdbd
  .slick-dots li.slick-active button:before
    opacity: 1
  .slick-dots li button:before
    opacity: .25
    font-size: 10px

.c-b-slider
  .slick-arrow
    position: absolute
    top: 50%
    margin-top: -25px
    border: none
    background-color: transparent
    z-index: 1
    opacity: 0
    transition: all .3s ease
    i
      font-size: 50px
      text-shadow: 0px 1px 6px #616161
      color: #fff
    &.slick-left
      left: -10px
    &.slick-right
      right: -10px
  
.c-b-slider:hover
  box-shadow: $z-depth-2
  .slick-dots
    opacity: 1
  .slick-arrow
    opacity: 1
    cursor: pointer
    @media #{$_xs}
      display: none
  .slick-arrow.slick-left
    left: 15px
  .slick-arrow.slick-right
    right: 15px

.c-b-slider.normal-height
  height: auto

body.black-on-white
  .slick-dots li.slick-active button:before
    color: #212121

body.white-on-black
  .c-b-slider
    background-color: #212121
  .slick-dots li.slick-active button:before
    color: #fff

body.blue-on-azure
  .c-b-slider
    background-color: $azure
  .slick-dots li.slick-active button:before
    color: $dark-blue

body.brown-on-beige
  .c-b-slider
    background-color: $beige
  .slick-dots li.slick-active button:before
    color: $brown

body.green-on-brown
  .c-b-slider
    background-color: $brown
  .slick-dots li.slick-active button:before
    color: $green