.a-l-modal-default
  padding: 25px 30px
  border-radius: 2px
.a-l-modal-default .fancybox-close-small
  top: 30px
  right: 30px
.a-l-modal-default__header
  font-size: 18px
  line-height: 48px
  border-bottom: 1px solid #eee
  margin-bottom: 24px

body.white-on-black
  .a-l-modal-default
    background-color: #212121
    color: #fff

body.blue-on-azure
  .a-l-modal-default
    background-color: $azure
    color: $dark-blue

body.brown-on-beige
  .a-l-modal-default
    background-color: $beige
    color: $brown

body.green-on-brown
  .a-l-modal-default
    background-color: $brown
    color: $green