mixin a-l-modal-default()
  +b.a-l-modal-default(style="display: none; min-width: 420px" id="modal")
    +e.header
      i.fa.fa-sign-in
      |   Авторизация
    form
      +b.form-group
        label(for="eMail") eMail
        input(class="browser-default input-default" id="eMail" type="email" placeholder="Введите eMail")
      +b.form-group
        label(for="password") Пароль
        input(class="browser-default input-default" id="password" type="password" placeholder="eMail")
      button(class="waves-effect waves-light default-bg btn" style="width: 100%; margin-top: 14px") 
        |Авторизация