.c-e-photo-fancybox
  transition: all .3s ease
  box-shadow: $z-depth-1
  width: 100%
  a
    width: 100%
  img
    display: block
    border-radius: 2px
    width: 100%
.c-e-photo-fancybox:hover
  box-shadow: $z-depth-2

body.black-on-white
  .c-e-photo-fancybox img
    filter: grayscale(100%)

body.white-on-black
  .c-e-photo-fancybox img
    filter: grayscale(100%)

body.blue-on-azure
  .c-e-photo-fancybox img
    filter: grayscale(100%)

body.brown-on-beige
  .c-e-photo-fancybox img
    filter: grayscale(100%)

body.green-on-brown
  .c-e-photo-fancybox img
    filter: grayscale(100%)