.c-e-img-text
  display: flex
  justify-content: space-between
  background-color: #fff
  box-shadow: $z-depth-1
  transition: box-shadow .3s ease
  border-radius: 2px
  &:hover
    box-shadow: $z-depth-2

.c-e-img-text__description
  +col(8)
  @media #{$_md}
    +col(6)
  @media #{$_sm}
    +col(12)
    padding: 25px 30px
  margin: auto 0px
  margin-left: 30px
.c-e-img-text__title
  color: $default-color
  font-size: 16px
  margin-bottom: 10px
.c-e-img-text__about
  color: #616161
  margin-bottom: 10px
  padding-right: 30px

.c-e-img-text__img
  +col(4)
  @media #{$_md}
    +col(6)
  @media #{$_sm}
    display: none
  img
    width: 100%

.c-e-img-text__img.right
  img
    border-radius: 0px 2px 2px 0px
.c-e-img-text__img.left
  img
    border-radius: 2px 0px 0px 2px