mixin c-e-img-text(data)
  +b.c-e-img-text
    if data.img_align == "left"
      +e.img.left
        img(src=data.img)
    +e.description
      +e.title= data.title
      +e.about= data.about
      a.btn-outline.waves-effect.waves-default-color(href="#") Подробнее
    if data.img_align == "right"
      +e.img.right
        img(src=data.img)