mixin c-b-services-list()
  +b.UL.c-b-services-list
    +e.LI.item.waves-effect.waves-default-color
      a(href="#")
        +e.title Узи брюшной полости
        +e.description Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Путь он составитель последний взобравшись, но семь реторический языком. Свой гор первую мир сих о, буквенных взобравшись однажды диких решила.
    +e.LI.item.waves-effect.waves-default-color
      a(href="#")
        +e.title Узи брюшной полости
        +e.description Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Путь он составитель последний взобравшись, но семь реторический языком. Свой гор первую мир сих о, буквенных взобравшись однажды диких решила.
    +e.LI.item.waves-effect.waves-default-color
      a(href="#")
        +e.title Узи брюшной полости
        +e.description Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Путь он составитель последний взобравшись, но семь реторический языком. Свой гор первую мир сих о, буквенных взобравшись однажды диких решила.