.c-b-services-list
  border-radius: 2px
.c-b-services-list__item
  padding: 15px
  border: 1px solid #eee
  border-bottom: none
.c-b-services-list__item a
  text-decoration: none !important
.c-b-services-list__item:first-child
  border-radius: 2px 2px 0px 0px
.c-b-services-list__item:last-child
  border-radius: 0px 0px 2px 2px
  border-bottom: 1px solid #eee

.c-b-services-list__title
  color: $default-color
.c-b-services-list__description
  color: #616161

body.black-on-white
  .c-b-services-list__title
    color: #212121
  .c-b-services-list__description
    color: #212121
  .c-b-services-list__item
    border: 1px solid #212121

body.white-on-black
  .c-b-services-list__title
    color: #fff
  .c-b-services-list__description
    color: #fff
  .c-b-services-list__item
    border: 1px solid #fff

body.blue-on-azure
  .c-b-services-list__title
    color: $dark-blue
  .c-b-services-list__description
    color: $dark-blue
  .c-b-services-list__item
    border: 1px solid $dark-blue

body.brown-on-beige
  .c-b-services-list__title
    color: $brown
  .c-b-services-list__description
    color: $brown
  .c-b-services-list__item
    border: 1px solid $brown

body.green-on-brown
  .c-b-services-list__title
    color: $green
  .c-b-services-list__description
    color: $green
  .c-b-services-list__item
    border: 1px solid $green