mixin a-b-sb-section-nav()
  .a-b-sb-section-nav
    .a-b-sb-section-nav__header Навигация по разделу
    ul(class="a-b-sb-section-nav__list")
      li
        a(href="#" class="waves-effect waves-default-color a-b-sb-section-nav__item") Аттестация
      li
        a(href="#" class="waves-effect waves-default-color a-b-sb-section-nav__item") Календарь отчетов
      
      ul(class="collapsible")
        li
          a(class="collapsible-header waves-effect waves-default-color a-b-sb-section-nav__item active") Второй уровень
            i.fa.fa-caret-down
          div.collapsible-body
            ul
              li
                a(href="#!" class="waves-effect waves-default-color a-b-sb-section-nav__item") Структура
              li
                a(href="#!" class="waves-effect waves-default-color a-b-sb-section-nav__item") Вакансии

              ul(class="collapsible")
                li
                  a(class="collapsible-header waves-effect waves-default-color a-b-sb-section-nav__item") Третий уровень
                    i.fa.fa-caret-down
                  div.collapsible-body
                    ul
                      li
                        a(href="#!" class="waves-effect waves-default-color a-b-sb-section-nav__item") Один
                      li
                        a(href="#!" class="waves-effect waves-default-color a-b-sb-section-nav__item") Два
                      li
                        a(href="#!" class="waves-effect waves-default-color a-b-sb-section-nav__item") Три
                      
                      ul(class="collapsible")
                        li
                          a(class="collapsible-header waves-effect waves-default-color a-b-sb-section-nav__item") Четвертый уровень
                            i.fa.fa-caret-down
                          div.collapsible-body
                            ul
                              li
                                a(href="#!" class="waves-effect waves-default-color a-b-sb-section-nav__item") Один
                              li
                                a(href="#!" class="waves-effect waves-default-color a-b-sb-section-nav__item") Два названия в одном. Это как одно, только длиньше на одно
              
              li
                a(href="#!" class="waves-effect waves-default-color a-b-sb-section-nav__item") Карточка учреждения
              li
                a(href="#!" class="waves-effect waves-default-color a-b-sb-section-nav__item") Контакты

      li
        a(href="#" class="waves-effect waves-default-color a-b-sb-section-nav__item") Новости
      li
        a(href="#" class="waves-effect waves-default-color a-b-sb-section-nav__item") РС ЕГИСЗ
