.a-b-sb-section-nav
  margin-top: 0px
  margin-bottom: 30px
  box-shadow: $z-depth-1
  background-color: #fff
  border-radius: 2px

.a-b-sb-section-nav__header
  padding: 25px 30px 15px
  text-transform: uppercase
  color: #616161
  font-size: .8em

.a-b-sb-section-nav__list
  margin: 0px !important

.a-b-sb-section-nav__item
  display: block
  width: 100%
  padding: 15px 30px
  color: #212121
  border-top: 1px solid #eee
  box-shadow: none !important
.a-b-sb-section-nav__item i
  float: right
  line-height: 23px
  font-size: 15px
  margin-right: 0px
  width: auto

.a-b-sb-section-nav__item.active
  color: $default-color
  background-color: #eee

.a-b-sb-section-nav .collapsible
  margin: 0px
  box-shadow: none
  border: none

.a-b-sb-section-nav .collapsible-header
  border-bottom: none

.a-b-sb-section-nav .collapsible-body
  padding: 0px
  border: none

.a-b-sb-section-nav .collapsible-body .a-b-sb-section-nav__item
  padding: 15px 30px 15px 60px
.a-b-sb-section-nav .collapsible-body .collapsible-body .a-b-sb-section-nav__item
  padding: 15px 30px 15px 90px
.a-b-sb-section-nav .collapsible-body .collapsible-body .collapsible-body .a-b-sb-section-nav__item
  padding: 15px 30px 15px 120px

body.black-on-white
  .a-b-sb-section-nav__item.active
    color: #212121

body.white-on-black
  .a-b-sb-section-nav
    background-color: #212121
    .collapsible-header
      background-color: #212121 !important
  .a-b-sb-section-nav__header
    color: #fff
  .a-b-sb-section-nav__item
    color: #fff
  .a-b-sb-section-nav__item.active
    color: #fff
    background-color: #616161

body.blue-on-azure
  .a-b-sb-section-nav
    background-color: $azure
    .collapsible-header
      background-color: $azure !important
  .a-b-sb-section-nav__header
    color: $dark-blue
  .a-b-sb-section-nav__item
    color: $dark-blue
    border-top: 1px solid $dark-blue
  .a-b-sb-section-nav__item.active
    color: $dark-blue
    background-color: lighten($blue, 35%)

body.brown-on-beige
  .a-b-sb-section-nav
    background-color: $beige
    .collapsible-header
      background-color: $beige !important
  .a-b-sb-section-nav__header
    color: $brown
  .a-b-sb-section-nav__item
    color: $brown
    border-top: 1px solid $brown
  .a-b-sb-section-nav__item.active
    color: $brown
    background-color: lighten($brown, 60%)

body.green-on-brown
  .a-b-sb-section-nav
    background-color: $brown
    .collapsible-header
      background-color: $brown !important
  .a-b-sb-section-nav__header
    color: $green
  .a-b-sb-section-nav__item
    color: $green
    border-top: 1px solid $green
  .a-b-sb-section-nav__item.active
    color: $green
    background-color: lighten($green, 60%)