mixin a-l-search-menu-button(data)
  +b.DIV.a-l-search-menu-button(class=data.class)
    +e.DIV.wrap
      +e.DIV.left-container
        +a-b-global-search()
      +e.DIV.right-container
        +a-b-simple-nav({
          class: ""
        })
        +a-b-visually()