#visually-minus, #visually-end, #visually-plus
  display: none
#visually-minus, #visually-end
  margin-right: 5px
  
.a-l-search-menu-button
  border-bottom: 1px solid #e0e0e0
  padding-top: 15px
  padding-bottom: 14px
  
.a-l-search-menu-button__left-container
  @media #{$_md}
    width: 100%
    margin-bottom: 15px
  @media #{$_xs}
    display: none
  
.a-l-search-menu-button__right-container
  .a-b-simple-nav
    margin-right: 30px
  .appointment-button
    float: right
    a
      color: #fff
    @media #{$_xs}
      float: left   
  @media #{$_md}
    width: 100%

.a-l-search-menu-button.dark
  .default-color-link
    color: #fff

.page-wrap.nw .a-l-search-menu-button__wrap
  +container()
.page-wrap.nw .a-l-search-menu-button__left-container
  +col(4)

.page-wrap.fw .a-l-search-menu-button__wrap
  +row()
  padding-left: 15px
  padding-right: 15px
.page-wrap.fw .a-l-search-menu-button__left-container
  +col(3)
  @media #{$_md}
    width: 100%
    margin-bottom: 15px
  @media #{$_xs}
    display: none


body.black-on-white
  .a-l-search-menu-button
    background-color: #fff !important
    background-image: none !important
    border-bottom: 1px solid #212121

body.white-on-black
  .a-l-search-menu-button
    background-color: #212121 !important
    background-image: none !important
    border-bottom: 1px solid #fff

body.blue-on-azure
  .a-l-search-menu-button
    background-color: $azure !important
    background-image: none !important
    border-bottom: 1px solid $dark-blue

body.brown-on-beige
  .a-l-search-menu-button
    background-color: $beige !important
    background-image: none !important
    border-bottom: 1px solid $brown

body.green-on-brown
  .a-l-search-menu-button
    background-color: $brown !important
    background-image: none !important
    border-bottom: 1px solid $green
