.default-bg
  background-color: $default-color

.default-light-bg
  background-color: lighten($default-color, 50%)
  border-bottom: 1px solid lighten($default-color, 35%)
  border-top: 1px solid lighten($default-color, 35%)

.default-bg-gradient
  background: linear-gradient(45deg, darken($default-color,13%), darken($default-color,10%))
.default-bg-gradient-shadow
	@extend .default-bg-gradient
	box-shadow: inset 0px 17px 14px -15px rgba(33,33,33,0.53), inset 0px -13px 14px -15px rgba(33,33,33,0.55)

.transparent-bg-18
  background-image: url("../img/patterns/18.png")
.transparent-bg-27
  background-image: url("../img/patterns/27.png")

body.white-on-black
  .default-bg
    background-color: #fff
    color: #212121 !important

body.black-on-white
  .default-bg
    background-color: #212121

body.blue-on-azure
  .default-bg
    background-color: $dark-blue

body.brown-on-beige
  .default-bg
    background-color: $brown

body.green-on-brown
  .default-bg
    background-color: $green
    color: $brown !important