.mt0
  margin-top: 0px !important 
.mt15
  margin-top: 15px !important
.mt30
  margin-top: 30px !important
.mb0
  margin-bottom: 0px !important
.mb15
  margin-bottom: 15px !important
.mb30
  margin-bottom: 30px !important
.mr15
  margin-right: 15px !important
.ml15
  margin-left: 15px !important
.mr30
  margin-right: 30px !important
.ml30
  margin-left: 30px !important
.p0
  padding: 0px !important

.datepicker-date-display,.datepicker-table td.is-selected
  background-color: $default-color
.datepicker-table td.is-today,.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done
  color: $default-color
.datepicker-table td.is-selected
  color: #fff

.confirmation-btns
  .btn-flat.datepicker-cancel,.btn-flat.datepicker-done
    color: $default-color !important

hr
  border: .5px solid #eee

.form-group
  margin-bottom: 10px
  label
    // font-weight: 500
    font-size: 16px
    color: #616161
    display: inline-block
    margin-bottom: 1px
.form-group__comment
  font-size: 0.8em

.input-default
  padding: 9px
  border-radius: 2px
  border: 1px solid #bdbdbd
  transition: border .3s ease
  width: 100%
  box-sizing: border-box
  &:hover
    border: 1px solid lighten($default-color,5%)
  &:focus, &:active
    outline: 0
    outline-offset: 0
    border: 1px solid $default-color
  &-outline
    border: 1px solid $default-color

.btn-outline
  text-transform: uppercase
  border-radius: 2px
  border: 1px solid transparentize($default-color, .75)
  color: $default-color
  padding: 0px 29px
  line-height: 34px
  transition: color .3s ease
  display: inline-block
  &:focus, &:active
    outline: 0
    outline-offset: 0
  &:hover
    color: $default-color

a.default-color-link
  transition: color .3s ease
  text-decoration: none
  color: $default-color
  &:focus, &:active
    outline: 0
    outline-offset: 0
  &:hover
    color: lighten($default-color,15%)

.dropdown-content li>a, .dropdown-content li>span
  color: $default-color

[type="checkbox"]:checked+span:not(.lever):before
  border-right: 2px solid $default-color
  border-bottom: 2px solid $default-color

[type=radio].with-gap:checked+span:after, [type=radio].with-gap:checked+span:before, [type=radio]:checked+span:after
  border: 2px solid $default-color
[type=radio].with-gap:checked+span:after, [type=radio]:checked+span:after
  background-color: $default-color

.waves-effect.waves-default-color .waves-ripple
  background-color: transparentize($default-color, .65)

body
  background: #fafafa

a
  &:focus, &:active
    outline: 0
    outline-offset: 0

body.no-img
  img:not(.a-b-logo-main__tag, .a-b-logo-min__tag)
    display: none !important
  .c-e-photo-fancybox, .c-e-news-photo-description__photo
    display: none

body.black-on-white
  .input-default
    &:hover
      border: 1px solid lighten(#212121, 5%)
    &:focus
      border: 1px solid #212121
    &:active
      border: 1px solid #212121
    &-outline
      border: 1px solid #212121
    &::placeholder
      color: #212121
  .btn-outline
    border: 1px solid transparentize(#212121, .75)
    color: #212121
  .form-group label
    color: #212121
  .default-color-link
    color: #212121

body.white-on-black
  background-color: #616161
  .input-default
    background-color: #212121
    &:hover
      border: 1px solid #ffffff
    &:focus
      border: 1px solid #ffffff
    &:active
      border: 1px solid #ffffff
    &-outline
      border: 1px solid #ffffff
    &::placeholder
      color: #fff
  .btn-outline
    border: 1px solid transparentize(#fff, .75)
    background-color: #212121
    color: #fff
  .default-color-link
    color: #fff
  .form-group label
    color: #fff
  .select-wrapper input
    color: #fff

body.blue-on-azure
  background-color: lighten($blue, 35%)
  .input-default
    background-color: $azure
    &:hover
      border: 1px solid $dark-blue
    &:focus
      border: 1px solid $dark-blue
    &:active
      border: 1px solid $dark-blue
    &-outline
      border: 1px solid $dark-blue
    &::placeholder
      color: $blue
  .btn-outline
    border: 1px solid transparentize($dark-blue, .75)
    background-color: $azure
    color: $dark-blue
  .form-group label
    color: $dark-blue
  .default-color-link
    color: $dark-blue
  .select-wrapper input
    color: $dark-blue

body.brown-on-beige
  background-color: darken($beige, 5%)
  .input-default
    background-color: $beige
    &:hover
      border: 1px solid $brown
    &:focus
      border: 1px solid $brown
    &:active
      border: 1px solid $brown
    &-outline
      border: 1px solid $brown
    &::placeholder
      color: $brown
  .btn-outline
    border: 1px solid transparentize($brown, .75)
    background-color: $beige
    color: $brown
  .form-group label
    color: $brown
  .default-color-link
    color: $brown
  .select-wrapper input
    color: $brown

body.green-on-brown
  background-color: lighten($brown, 30%)
  .input-default
    background-color: $brown
    &:hover
      border: 1px solid $green
    &:focus
      border: 1px solid $green
    &:active
      border: 1px solid $green
    &-outline
      border: 1px solid $green
    &::placeholder
      color: $green
  .btn-outline
    border: 1px solid transparentize($green, .75)
    background-color: $brown
    color: $green
  .form-group label
    color: $green
  .default-color-link
    color: $green
  .select-wrapper input
    color: $green