$xxs: "(min-width: 320px)"
$xs: "(min-width: 480px)"
$_xs: "(max-width: 480px)"
$sm: "(min-width: 767px)"
$_sm: "(max-width: 767px)"
$md: "(min-width: 1024px)"
$_md: "(max-width: 1024px)"
$lg: "(min-width: 1200px)"
$_lg: "(max-width: 1200px)"
$xlg: "(min-width: 1500px)"
$_xlg: "(max-width: 1500px)"

$cols: 12
$gutter: 30px

%container
  margin: 0 auto
  box-sizing: border-box
  display: flex
  @media #{$xxs}
    width: 100%
    padding: 0 15px
  @media #{$sm}
    width: 750px
  @media #{$md}
    width: 970px
  @media #{$lg}
    width: 1170px


=container($align:space-between, $wrap:wrap)
  @extend %container
  justify-content: $align
  flex-wrap: $wrap

=row()
  box-sizing: border-box
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  width: 100%
  max-width: 1500px
  margin: 0px auto

=col($num)
  width: calc( (((100% - (#{$gutter} * (#{$cols} - 1))) / #{$cols}) * #{$num}) + ( #{$gutter} * (#{$num} - 1)) )

=colNg($num)
  width: calc( (((100% - (#{0px} * (#{$cols} - 1))) / #{$cols}) * #{$num}) + ( #{0px} * (#{$num} - 1)) )  

=calendar_col($num)
  width: calc( (((100% - (#{0px} * (#{7} - 1))) / #{7}) * #{$num}) + ( #{0px} * (#{$num} - 1)) )
